Repository formbricks/formbricks, pull requests merged in 2023-10, with the labels that each got.

#899 fix: add action on survey edit
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/WhenToSendCard.tsx
Labels: bug

#889 feat: Mandatory question indicator added
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/CTASummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ConsentSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/Headline.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/MultipleChoiceSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/NPSSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/OpenTextSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/RatingSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/SurveyMenuBar.tsx
  packages/surveys/src/components/CTAQuestion.tsx
  packages/surveys/src/components/ConsentQuestion.tsx
  packages/surveys/src/components/Headline.tsx
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/NPSQuestion.tsx
  packages/surveys/src/components/OpenTextQuestion.tsx
  packages/surveys/src/components/RatingQuestion.tsx
  packages/surveys/src/components/ThankYouCard.tsx
Labels: enhancement

#741 fix: Authorisation before Creation & Deletion API Key
  apps/web/app/(app)/environments/[environmentId]/layout.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/api-keys/ApiKeyList.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/api-keys/EditApiKeys.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/api-keys/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/product/actions.ts
  apps/web/app/api/google-sheet/route.ts
  apps/web/app/api/v1/auth.ts
  apps/web/app/api/v1/management/responses/[responseId]/route.ts
  apps/web/app/api/v1/webhooks/[webhookId]/route.ts
  apps/web/app/api/v1/webhooks/route.ts
  apps/web/lib/api/apiHelper.ts
  packages/lib/apiKey/auth.ts
  packages/lib/apiKey/service.ts
  packages/lib/environment/auth.ts
  packages/lib/package.json
  pnpm-lock.yaml
Labels: do-not-merge/hold

#893 style: Add corresponding icons to type indicator #892
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/CTASummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ConsentSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/MultipleChoiceSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/NPSSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/OpenTextSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/RatingSummary.tsx
Labels: enhancement, good first issue, hacktoberfest

#903 fix: multi select evaluator and required
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/lib/logicEvaluator.ts
  pnpm-lock.yaml
Labels: bug, good first issue, hacktoberfest

#742 feat: SingleUseSurveyLinks
  .env.docker
  .env.example
  apps/formbricks-com/app/docs/self-hosting/from-source/page.mdx
  apps/web/app/(app)/environments/[environmentId]/actions.ts
  apps/web/app/(app)/environments/[environmentId]/people/[personId]/(responseSection)/ResponsesFeed.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/SurveyDropDownMenu.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/SurveyList.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/SingleResponse.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/LinkModalButton.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/LinkSingleUseSurveyModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SuccessMessage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/SummaryHeader.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/ResponseOptionsCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/SettingsView.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/SurveyEditor.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/SurveyMenuBar.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  apps/web/app/api/v1/js/surveys.ts
  apps/web/app/s/[surveyId]/LinkSurvey.tsx
  apps/web/app/s/[surveyId]/SurveyInactive.tsx
  apps/web/app/s/[surveyId]/SurveyLinkUsed.tsx
  apps/web/app/s/[surveyId]/page.tsx
  apps/web/env.mjs
  apps/web/lib/singleUseSurveys.ts
  apps/web/pages/api/v1/client/environments/[environmentId]/responses/[responseId]/index.ts
  apps/web/pages/api/v1/client/environments/[environmentId]/responses/index.ts
  apps/web/pages/api/v1/environments/[environmentId]/surveys/[surveyId]/duplicate/[targetEnvironmentId].ts
  apps/web/pages/api/v1/environments/[environmentId]/surveys/[surveyId]/duplicate/index.ts
  apps/web/pages/api/v1/environments/[environmentId]/surveys/[surveyId]/index.ts
  packages/database/jsonTypes.ts
  packages/database/migrations/20231003113835_add_single_use_id_to_survey/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/lib/constants.ts
  packages/lib/crypto.ts
  packages/lib/response/service.ts
  packages/lib/responseQueue.ts
  packages/lib/services/survey.ts
  packages/lib/surveyState.ts
  packages/types/surveys.ts
  packages/types/v1/responses.ts
  packages/types/v1/surveys.ts
  turbo.json
Labels: ❗️ migrations, ❗️ .env changes

#945 fix: move close comment to end in .env.example
  .env.example
Labels: ❗️ .env changes

#938 fix: Single Use Link Preview is not correctly functioning
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/LinkSingleUseSurveyModal.tsx
Labels: bug

#873 feat: Better Embedding of Link Surveys
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/LinkModalButton.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/LinkSurveyModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareEmbedSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SuccessMessage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedTabs/EmailTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedTabs/LinkTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedTabs/WebpageTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/SummaryHeader.tsx
  apps/web/app/s/[surveyId]/prefilling.ts
  apps/web/components/shared/CodeBlock.tsx
  apps/web/package.json
  packages/lib/emails/emails.ts
  pnpm-lock.yaml
Labels: enhancement

#895 feat: Url Shortener
  .env.example
  apps/web/app/(app)/environments/[environmentId]/actions.ts
  apps/web/app/(app)/environments/[environmentId]/components/AddProductModal.tsx
  apps/web/app/(app)/environments/[environmentId]/components/EnvironmentsNavbar.tsx
  apps/web/app/(app)/environments/[environmentId]/components/NavbarLoading.tsx
  apps/web/app/(app)/environments/[environmentId]/components/Navigation.tsx
  apps/web/app/(app)/environments/[environmentId]/components/ResponseFilterContext.tsx
  apps/web/app/(app)/environments/[environmentId]/components/UrlShortenerModal.tsx
  apps/web/app/(app)/environments/[environmentId]/layout.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/CustomFilter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/ResponseFilter.tsx
  apps/web/app/i/[shortUrlId]/loading.tsx
  apps/web/app/i/[shortUrlId]/page.tsx
  apps/web/env.mjs
  apps/web/lib/surveys/surveys.ts
  packages/database/migrations/20231004115913_add_short_url/migration.sql
  packages/database/schema.prisma
  packages/lib/constants.ts
  packages/lib/package.json
  packages/lib/shortUrl/service.ts
  packages/types/v1/shortUrl.ts
  pnpm-lock.yaml
  turbo.json
Labels: ❗️ migrations, ❗️ .env changes

#818 fix: docker env parsing after nextjs 13.4.19 upgrade
  .env.docker
  .env.example
  apps/formbricks-com/app/docs/self-hosting/docker/page.mdx
  apps/formbricks-com/app/docs/self-hosting/from-source/page.mdx
  apps/formbricks-com/app/docs/self-hosting/migrating-to-1.1/page.mdx
  apps/web/Dockerfile
  apps/web/env.mjs
  docker-compose.yml
  docker/docker-compose.yml
  docker/production.sh
  turbo.json
Labels: ❗️ .env changes, priority/high

#967 chore: Fix sentence
  apps/web/app/s/[surveyId]/not-found.tsx
Labels: hacktoberfest, hacktoberfest-accepted

#986 refactor: Updating Twitter Logo
  apps/formbricks-com/components/shared/Footer.tsx
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#993 docs: Added Single Use Links Section in Docs.
  apps/formbricks-com/app/docs/link-surveys/single-use-links/env-variable.webp
  apps/formbricks-com/app/docs/link-surveys/single-use-links/metadata.webp
  apps/formbricks-com/app/docs/link-surveys/single-use-links/page.mdx
  apps/formbricks-com/app/docs/link-surveys/single-use-links/share-modal.webp
  apps/formbricks-com/app/docs/link-surveys/single-use-links/single-use-setting.webp
  apps/formbricks-com/app/docs/link-surveys/single-use-links/used-message.webp
  apps/formbricks-com/components/docs/Navigation.tsx
Labels: documentation, good first issue, hacktoberfest, formtribe-2023

#931 feat: keyboard usablity
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/components/RatingResponse.tsx
  packages/surveys/src/components/BackButton.tsx
  packages/surveys/src/components/CTAQuestion.tsx
  packages/surveys/src/components/ConsentQuestion.tsx
  packages/surveys/src/components/FormbricksSignature.tsx
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/NPSQuestion.tsx
  packages/surveys/src/components/OpenTextQuestion.tsx
  packages/surveys/src/components/RatingQuestion.tsx
  packages/surveys/src/components/SubmitButton.tsx
Labels: enhancement, ❗️ .env changes, hacktoberfest, formtribe-2023

#992 fix: form rerender on name change
  apps/web/app/(app)/environments/[environmentId]/surveys/PreviewSurvey.tsx
Labels: bug, hacktoberfest, formtribe-2023

#998 fix#997 making navigation bar responsive
  apps/formbricks-com/components/shared/Header.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#911 feat: Validation for Number, URL, Email and Phone Number in Open Text Question
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/OpenQuestionForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  package.json
  packages/surveys/src/components/OpenTextQuestion.tsx
  packages/types/v1/surveys.ts
  packages/ui/components/QuestionTypeSelector.tsx
  packages/ui/index.tsx
  pnpm-lock.yaml
Labels: enhancement, ❗️ migrations, ❗️ .env changes, hacktoberfest, formtribe-2023

#1011 fix: Required Condition Update for MultiSelectQuestion.
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#856 chore: Redesign metadata
  apps/web/app/(app)/environments/[environmentId]/components/Navigation.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/SingleResponse.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryMetadata.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/api/v1/client/displays/[displayId]/route.ts
  apps/web/app/api/v1/client/responses/[responseId]/route.ts
  apps/web/app/s/[surveyId]/LinkSurvey.tsx
  apps/web/pages/api/v1/client/environments/[environmentId]/displays/index.ts
  apps/web/pages/api/v1/environments/[environmentId]/surveys/[surveyId]/responses/[submissionId]/index.ts
  packages/database/migrations/20231008155535_add_response_id_to_display/migration.sql
  packages/database/schema.prisma
  packages/lib/client/display.ts
  packages/lib/display/service.ts
  packages/lib/response/service.ts
  packages/lib/responseQueue.ts
  packages/lib/survey/service.ts
  packages/lib/surveyState.ts
  packages/types/v1/displays.ts
Labels: ❗️ migrations

#1013 fix: Trynow btn fix
  apps/formbricks-com/components/shared/UseCaseCTA.tsx
Labels: bug

#1010 fix: new team not listed in teams list in navbar
  packages/lib/membership/service.ts
Labels: bug, hacktoberfest, formtribe-2023

#1024 chore: Update README.md
  README.md
Labels: hacktoberfest-accepted

#1059 fix: Exit Intent not working on FF, Safari, Arc
  packages/js/src/lib/automaticActions.ts
Labels: bug, hacktoberfest, formtribe-2023

#798 feat: 2FA
  .env.example
  apps/web/app/(app)/environments/[environmentId]/settings/profile/AccountSecurity.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/DisableTwoFactorModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/EnableTwoFactorModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/profile/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/actions.ts
  apps/web/app/api/auth/[...nextauth]/authOptions.ts
  apps/web/components/auth/SigninForm.tsx
  apps/web/components/auth/TwoFactor.tsx
  apps/web/components/auth/TwoFactorBackup.tsx
  apps/web/env.mjs
  apps/web/package.json
  packages/database/migrations/20231009074251_add_2fa/migration.sql
  packages/database/schema.prisma
  packages/lib/auth.ts
  packages/lib/auth/service.ts
  packages/lib/constants.ts
  packages/lib/crypto.ts
  packages/lib/profile/service.ts
  packages/lib/totp.ts
  packages/types/v1/profile.ts
  packages/ui/components/OTPInput.tsx
  packages/ui/index.tsx
  pnpm-lock.yaml
  turbo.json
Labels: ❗️ migrations, ❗️ .env changes

#1078 fix: image and page responsiveness in docs section
  apps/formbricks-com/app/docs/best-practices/interview-prompt/page.mdx
Labels: hacktoberfest-accepted

#1068 fix: statusText mismatch in webhook integrations
  apps/web/app/(app)/environments/[environmentId]/integrations/page.tsx
Labels: hacktoberfest-accepted

#1020 fix: Name can updated without any characters/value
  apps/web/app/(app)/environments/[environmentId]/settings/profile/EditName.tsx
Labels: bug

#1080 fix: added script to setup encryption key in gitpod script
  .gitpod.yml
Labels: bug

#1035 feat: brand color overwrite
  apps/formbricks-com/pages/api/oss-friends/index.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareEmbedSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedTabs/EmailTab.tsx
Labels: enhancement, hacktoberfest, formtribe-2023

#1087 fix: multiChoice undefined value check
  apps/web/app/api/v1/client/displays/route.ts
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
Labels: bug

#1088 feat: add docs for setting ENCRYPTION_KEY in .env in contributing guide
  .env.example
  apps/formbricks-com/app/docs/contributing/setup/page.mdx
Labels: ❗️ .env changes

#1077 fix: X and optional text overlap
  packages/surveys/src/components/Modal.tsx
  packages/surveys/src/components/Survey.tsx
Labels: bug, hacktoberfest, formtribe-2023

#996 fix: add toast and error handler for multiple team/product creation with existing team/product name
  apps/web/app/(app)/environments/[environmentId]/components/AddProductModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/product/EditProductName.tsx
  apps/web/components/team/CreateTeamModal.tsx
  packages/database/migrations/20231011070343_unique_product_name/migration.sql
  packages/database/schema.prisma
  packages/lib/product/service.ts
  pnpm-lock.yaml
Labels: bug, ❗️ migrations

#1090 fix: scrollbar issue
  packages/surveys/src/styles/global.css
Labels: bug

#1099 fix: readme formtribe link
  README.md
Labels: bug

#1046 fix: survey baseurl fix and addition of SHORT_SURVEY_BASE_URL in .env.example file
  .env.example
Labels: ❗️ .env changes

#1100 fix(formbricks-com): fix horizontal scrollbar in small viewports
  apps/formbricks-com/components/dummyUI/AddEventDummy.tsx
  apps/formbricks-com/components/home/Hero.tsx
  apps/formbricks-com/components/home/Steps.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1107 fix: Buttons Margin and code snippets issue across Docs
  apps/formbricks-com/app/docs/actions/code/page.mdx
  apps/formbricks-com/app/docs/attributes/custom-attributes/page.mdx
  apps/formbricks-com/app/docs/attributes/identify-users/page.mdx
  apps/formbricks-com/app/docs/best-practices/docs-feedback/page.mdx
  apps/formbricks-com/app/docs/best-practices/pmf-survey/page.mdx
  apps/formbricks-com/app/docs/contributing/demo/page.mdx
  apps/formbricks-com/app/docs/contributing/setup/page.mdx
  apps/formbricks-com/app/docs/contributing/troubleshooting/page.mdx
  apps/formbricks-com/app/docs/getting-started/framework-guides/page.mdx
  apps/formbricks-com/app/docs/introduction/what-is-formbricks/page.mdx
  apps/formbricks-com/app/docs/link-surveys/data-prefilling/page.mdx
  apps/formbricks-com/app/docs/link-surveys/user-identification/page.mdx
  apps/formbricks-com/app/docs/self-hosting/docker/page.mdx
  apps/formbricks-com/app/docs/self-hosting/from-source/page.mdx
  apps/formbricks-com/app/docs/self-hosting/migrating-to-1.1/page.mdx
  apps/formbricks-com/app/docs/self-hosting/production/page.mdx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#987 feat: Storybook integration for UI components
  .npmrc
  apps/storybook/.eslintrc.cjs
  apps/storybook/.gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/README.md
  apps/storybook/index.html
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  apps/storybook/src/App.css
  apps/storybook/src/App.tsx
  apps/storybook/src/index.css
  apps/storybook/src/main.tsx
  apps/storybook/src/vite-env.d.ts
  apps/storybook/tailwind.config.js
  apps/storybook/tsconfig.json
  apps/storybook/tsconfig.node.json
  apps/storybook/tsup.config.ts
  apps/storybook/vite.config.ts
  apps/web/package.json
  apps/web/tailwind.config.js
  packages/tailwind-config/tailwind.config.js
  packages/ui/Button/stories.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: enhancement, hacktoberfest, formtribe-2023

#1153 fix: added scroll to top button
  apps/formbricks-com/components/home/ScrollToTop.tsx
  apps/formbricks-com/pages/index.tsx
Labels: enhancement

#1162 fix: Concierge btn text opacity fixed and made it look proper
  apps/formbricks-com/pages/concierge.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1163 fix: Pricing Link in mobile menu on LP , Update Header.tsx
  apps/formbricks-com/components/shared/Header.tsx
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1164 style: Fixed a minor grammatical mistake.
  apps/formbricks-com/pages/feedback-box/index.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1138 fix: minor ui fixes
  apps/formbricks-com/components/shared/Header.tsx
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1144 feat: adds hidden field functionality to surveys
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/HiddenFieldsSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryList.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/HiddenFieldsCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsView.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/UpdateQuestionId.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  packages/database/jsonTypes.ts
  packages/database/migrations/20231015165646_add_hidden_fields/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/lib/survey/service.ts
  packages/types/v1/surveys.ts
  packages/types/v1/templates.ts
  packages/ui/SingleResponseCard/index.tsx
  packages/ui/Tag/index.tsx
Labels: ❗️ migrations, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1123 fix: Overflow of body across leaderboard on mobile screen #1120 & Doc's navbar was not responsive #1129
  apps/formbricks-com/components/docs/Button.tsx
  apps/formbricks-com/components/docs/Header.tsx
  apps/formbricks-com/pages/formtribe/HeaderLight.tsx
  apps/formbricks-com/pages/formtribe/index.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1221 fix: attribute-settings-tab-button-link
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/attributes/components/AttributeSettingsTab.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1250 fix: Typo on main page is fixed
  apps/formbricks-com/components/home/Highlights.tsx
Labels: bug, hacktoberfest-accepted

#1240 fix(web): Fix user dropdown keyboard accessibility
  apps/web/app/(app)/environments/[environmentId]/components/Navigation.tsx
Labels: bug, hacktoberfest-accepted

#1073 feat: Add welcome card
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedTabs/EmailTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditWelcomeCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsView.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  apps/web/app/lib/api/clientSettings.ts
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/next.config.mjs
  packages/database/jsonTypes.ts
  packages/database/migrations/20231016190223_add_welcomecard/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/lib/person/service.ts
  packages/lib/survey/service.ts
  packages/surveys/src/components/CTAQuestion.tsx
  packages/surveys/src/components/ConsentQuestion.tsx
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/NPSQuestion.tsx
  packages/surveys/src/components/OpenTextQuestion.tsx
  packages/surveys/src/components/RatingQuestion.tsx
  packages/surveys/src/components/SubmitButton.tsx
  packages/surveys/src/components/Survey.tsx
  packages/surveys/src/components/WelcomeCard.tsx
  packages/types/js.ts
  packages/types/questions.ts
  packages/types/surveys.ts
  packages/types/v1/surveys.ts
  packages/types/v1/templates.ts
  packages/ui/Editor/components/ToolbarPlugin.tsx
  packages/ui/FileInput/index.tsx
  packages/ui/FileInput/lib/fileUpload.ts
  packages/ui/TagsCombobox/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: enhancement, ❗️ migrations, hacktoberfest, formtribe-2023

#1260 fix: update product name, waiting time and delete product operation
  apps/web/app/(app)/environments/[environmentId]/settings/product/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/product/components/EditProductName.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/product/components/EditWaitingTime.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1251 fix: icons not aligned center on firefox
  apps/formbricks-com/components/shared/PricingTable.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1232 fix: names spellings in survey pin related functions or variables
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/ResponseOptionsCard.tsx
  apps/web/app/api/cron/weekly_summary/email.ts
  apps/web/app/s/[surveyId]/actions.ts
  apps/web/app/s/[surveyId]/components/PinScreen.tsx
  apps/web/app/s/[surveyId]/types.ts
  packages/database/schema.prisma
Labels: hacktoberfest-accepted

#1241 fix: Alignment of step-by-step and try button for mobile
  apps/formbricks-com/components/shared/UseCaseCTA.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1278 fix: Corrected landing page styles
  apps/formbricks-com/components/dummyUI/AddEventDummy.tsx
  apps/formbricks-com/components/shared/BestPracticeNavigation.tsx
  apps/formbricks-com/components/shared/UseCaseCTA.tsx
  packages/ui/Select/index.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1266 fix: fixing navbar position while scrolling the page.
  apps/formbricks-com/components/shared/Header.tsx
  packages/ui/Button/index.tsx
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1263 fix: concierge cards
  apps/formbricks-com/components/shared/Header.tsx
  apps/formbricks-com/pages/concierge.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1111 fix(bug): removed user from Team, but user can select team
  packages/lib/environment/auth.ts
  packages/lib/membership/service.ts
  packages/lib/team/service.ts
Labels: bug, hacktoberfest, formtribe-2023

#1321 docs: fix typo in apps/formbricks-com/app/docs/actions/code/page.mdx
  apps/formbricks-com/app/docs/actions/code/page.mdx
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1306 fix Add action UI issue on mobile screen #1254
  apps/formbricks-com/components/dummyUI/AddEventDummy.tsx
  apps/formbricks-com/components/dummyUI/AddNoCodeEventModalDummy.tsx
  packages/ui/Modal/index.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1317 fix(bug): fixed1296 href link switch
  packages/ui/EnvironmentNotice/index.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1323 feat: Add source to metadata submission
  apps/web/app/api/v1/client/responses/route.ts
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  packages/types/v1/responses.ts
  packages/ui/SingleResponseCard/index.tsx
Labels: enhancement, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1330 fix: Logo is not visible in edge search #1265
  apps/formbricks-com/components/shared/MetaInformation.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1328 fix: Copy button disabled while it's value is null
  apps/demo/.env.example
  apps/web/app/(app)/environments/[environmentId]/components/UrlShortenerModal.tsx
Labels: bug

#1335 fix: use strings for pin datatype to allow more variations
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/ResponseOptionsCard.tsx
  apps/web/app/s/[surveyId]/actions.ts
  apps/web/app/s/[surveyId]/components/PinScreen.tsx
  packages/database/migrations/20231020073124_pin_as_string/migration.sql
  packages/database/schema.prisma
  packages/types/v1/surveys.ts
Labels: ❗️ migrations

#1188 feat: add SSO login via Azure AD (second try)
  .env.example
  apps/web/app/(auth)/auth/components/AzureButton.tsx
  apps/web/app/(auth)/auth/login/components/SigninForm.tsx
  apps/web/app/(auth)/auth/login/page.tsx
  apps/web/app/(auth)/auth/signup/components/SignupForm.tsx
  apps/web/app/(auth)/auth/signup/page.tsx
  apps/web/app/api/auth/[...nextauth]/authOptions.ts
  apps/web/env.mjs
  packages/database/migrations/20231020082319_add_azuread/migration.sql
  packages/database/schema.prisma
  packages/lib/authOptions.ts
  packages/lib/constants.ts
  packages/types/v1/profile.ts
  turbo.json
Labels: ❗️ migrations, ❗️ .env changes

#1305 feat: adds image adding option to all questions
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/CTAQuestionForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/ConsentQuestionForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/MultipleChoiceMultiForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/MultipleChoiceSingleForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/NPSQuestionForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/OpenQuestionForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionFormInput.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/RatingQuestionForm.tsx
  apps/web/package.json
  docker-compose.yml
  packages/surveys/src/components/CTAQuestion.tsx
  packages/surveys/src/components/ConsentQuestion.tsx
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/NPSQuestion.tsx
  packages/surveys/src/components/OpenTextQuestion.tsx
  packages/surveys/src/components/RatingQuestion.tsx
  packages/types/v1/surveys.ts
  pnpm-lock.yaml
Labels: enhancement, hacktoberfest, formtribe-2023

#907 feat: added dropoff visibility
  apps/formbricks-com/components/dummyUI/DemoPreview.tsx
  apps/formbricks-com/components/dummyUI/DemoView.tsx
  apps/formbricks-com/components/dummyUI/TemplateList.tsx
  apps/formbricks-com/components/dummyUI/templates.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/OpenTextSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryDropOffs.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryMetadata.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/evaluateLogic.ts
Labels: enhancement, hacktoberfest, formtribe-2023

#1356 fix: #1353 validating pin before publishing
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1316 fix: Data is not being sent webhook api on trigger (#1285)
  apps/web/app/api/pipeline/route.ts
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1383 fix: Page break on Convert to Multi Select
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
Labels: bug

#1352 fix: prefiling in welcome card surveys
  packages/surveys/src/components/Survey.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1344 fix: adding loader for Delete and Save buttons
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
  packages/ui/DeleteDialog/index.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1381 fix: Resolve issue with "Back to Home" button on 404 page
  apps/web/app/not-found.tsx
Labels: bug

#1387 fix: Share modal not opening
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/LinkModalButton.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1346 style: #1343 Added Jost Web fonts
  apps/formbricks-com/pages/_app.tsx
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1093 feat: Added Dynamic Link Previews
  apps/web/app/api/v1/og/route.tsx
  apps/web/app/s/[surveyId]/layout.tsx
  apps/web/app/s/[surveyId]/page.tsx
  apps/web/package.json
  pnpm-lock.yaml
Labels: enhancement, hacktoberfest, formtribe-2023

#1360 fix: Refactor theme switcher from dropdown to toggle
  apps/formbricks-com/components/shared/ThemeSelector.jsx
Labels: bug, hacktoberfest, formtribe-2023

#1334 fix: Display appropriate error message when uploading image
  packages/ui/FileInput/index.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1394 docs: updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1390 fix: CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1400 fix: Button Enablement Precedes Component Rendering on Publish/Save Click
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
Labels: bug

#1362 fix: Validate Product Names
  apps/web/app/(app)/environments/[environmentId]/components/AddProductModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/api-keys/components/AddApiKeyModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/AddMemberModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/EditTeamName.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/product/components/EditProductName.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/components/EditName.tsx
  packages/ui/CreateTeamModal/index.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1332 feat: let's v1.2
  .env.example
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release-docker.yml
  .gitpod.yml
  apps/formbricks-com/app/docs/contributing/setup/page.mdx
  apps/formbricks-com/app/docs/self-hosting/deployment/page.mdx
  apps/formbricks-com/app/docs/self-hosting/docker/page.mdx
  apps/formbricks-com/app/docs/self-hosting/migration-guide/page.mdx
  apps/formbricks-com/components/docs/Navigation.tsx
  apps/formbricks-com/next.config.mjs
  apps/web/app/(app)/environments/[environmentId]/actions.ts
  apps/web/app/(app)/environments/[environmentId]/components/EnvironmentsNavbar.tsx
  apps/web/app/(app)/environments/[environmentId]/components/Navigation.tsx
  apps/web/app/(app)/environments/[environmentId]/components/UrlShortenerModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/LinkModalButton.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareEmbedSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SuccessMessage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/SummaryHeader.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/SurveyDropDownMenu.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/SurveyList.tsx
  apps/web/app/[shortUrlId]/loading.tsx
  apps/web/app/[shortUrlId]/page.tsx
  apps/web/app/s/[surveyId]/page.tsx
  apps/web/env.mjs
  apps/web/next.config.mjs
  docker-compose.yml
  docker/docker-compose.yml
  docker/production.sh
  packages/lib/constants.ts
  turbo.json
Labels: ❗️ .env changes

#1467 fix: [BUG] In Dark Mode Navbar is not Properly Visible #1463
  apps/formbricks-com/components/shared/Header.tsx
Labels: bug

#1487 docs: Update README.md
  README.md
Labels: hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1477 fix: Enhancing Formbricks Docs: Clear Steps for Configuring Environment.
  apps/formbricks-com/app/docs/contributing/gitpod/page.mdx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1320 fix: Disabling Welcome Card leads buggy preview
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  packages/surveys/src/components/Survey.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1435 fix: Added if statement for preventing use of reserved word in question ID
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/UpdateQuestionId.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1388 feat: picture selection question
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/actions/components/ActionSettingsTab.tsx
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/actions/components/AddNoCodeActionModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/PictureChoiceSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryList.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedTabs/EmailTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditWelcomeCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/LogicEditor.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/PictureSelectionForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionFormInput.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/Validation.ts
  apps/web/app/globals.css
  apps/web/app/lib/questions.ts
  apps/web/app/s/[surveyId]/lib/prefilling.ts
  apps/web/next.config.mjs
  packages/lib/package.json
  packages/lib/storage/service.ts
  packages/surveys/src/components/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/PictureSelectionQuestion.tsx
  packages/surveys/src/components/QuestionConditional.tsx
  packages/types/common.ts
  packages/types/surveys.ts
  packages/ui/FileInput/index.tsx
  packages/ui/PictureSelectionResponse/index.tsx
  packages/ui/SingleResponseCard/index.tsx
  packages/ui/tailwind.config.js
  pnpm-lock.yaml
Labels: enhancement, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1506 fix: Unexpected Behavior when Toggling Italics in Text Editor and improve clarity of formatting status
  packages/ui/Editor/components/ToolbarPlugin.tsx
  packages/ui/Editor/stylesEditor.css
Labels: bug, hacktoberfest, formtribe-2023

#1502 fix: long url not getting reset after closing modal
  apps/web/app/(app)/environments/[environmentId]/components/UrlShortenerModal.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1498 fix: added scrollbar whenever overflowed in the settings/profile page
  apps/web/app/(app)/environments/[environmentId]/settings/components/SettingsNavbar.tsx
Labels: bug, hacktoberfest-accepted, formtribe-2023

#1459 feat: dynamic title and description
  apps/formbricks-com/app/docs/actions/code/page.mdx
  apps/formbricks-com/app/docs/actions/no-code/page.mdx
  apps/formbricks-com/app/docs/actions/why/page.mdx
  apps/formbricks-com/app/docs/api/client/displays/page.mdx
  apps/formbricks-com/app/docs/api/client/overview/page.mdx
  apps/formbricks-com/app/docs/api/client/responses/page.mdx
  apps/formbricks-com/app/docs/api/management/action-classes/page.mdx
  apps/formbricks-com/app/docs/api/management/api-key-setup/page.mdx
  apps/formbricks-com/app/docs/api/management/attribute-classes/page.mdx
  apps/formbricks-com/app/docs/api/management/me/page.mdx
  apps/formbricks-com/app/docs/api/management/people/page.mdx
  apps/formbricks-com/app/docs/api/management/responses/page.mdx
  apps/formbricks-com/app/docs/api/management/surveys/page.mdx
  apps/formbricks-com/app/docs/api/management/webhooks/page.mdx
  apps/formbricks-com/app/docs/attributes/custom-attributes/page.mdx
  apps/formbricks-com/app/docs/attributes/identify-users/page.mdx
  apps/formbricks-com/app/docs/attributes/why/page.mdx
  apps/formbricks-com/app/docs/best-practices/cancel-subscription/page.mdx
  apps/formbricks-com/app/docs/best-practices/docs-feedback/page.mdx
  apps/formbricks-com/app/docs/best-practices/feature-chaser/page.mdx
  apps/formbricks-com/app/docs/best-practices/feedback-box/page.mdx
  apps/formbricks-com/app/docs/best-practices/improve-trial-cr/page.mdx
  apps/formbricks-com/app/docs/best-practices/interview-prompt/page.mdx
  apps/formbricks-com/app/docs/best-practices/pmf-survey/page.mdx
  apps/formbricks-com/app/docs/contributing/demo/page.mdx
  apps/formbricks-com/app/docs/contributing/gitpod/page.mdx
  apps/formbricks-com/app/docs/contributing/how-we-code/page.mdx
  apps/formbricks-com/app/docs/contributing/introduction/page.mdx
  apps/formbricks-com/app/docs/contributing/setup/page.mdx
  apps/formbricks-com/app/docs/contributing/troubleshooting/page.mdx
  apps/formbricks-com/app/docs/faq/page.mdx
  apps/formbricks-com/app/docs/getting-started/quickstart-in-app-survey/page.mdx
  apps/formbricks-com/app/docs/integrations/google-sheets/page.mdx
  apps/formbricks-com/app/docs/integrations/make/page.mdx
  apps/formbricks-com/app/docs/integrations/n8n/page.mdx
  apps/formbricks-com/app/docs/integrations/zapier/page.mdx
  apps/formbricks-com/app/docs/introduction/how-it-works/page.mdx
  apps/formbricks-com/app/docs/introduction/why-is-it-better/page.mdx
  apps/formbricks-com/app/docs/layout.tsx
  apps/formbricks-com/app/docs/link-surveys/data-prefilling/page.mdx
  apps/formbricks-com/app/docs/link-surveys/single-use-links/page.mdx
  apps/formbricks-com/app/docs/link-surveys/user-identification/page.mdx
  apps/formbricks-com/app/docs/self-hosting/deployment/page.mdx
  apps/formbricks-com/app/docs/self-hosting/docker/page.mdx
  apps/formbricks-com/app/docs/self-hosting/migration-guide/page.mdx
  apps/formbricks-com/app/docs/self-hosting/production/page.mdx
Labels: enhancement, good first issue, ❗️ .env changes, hacktoberfest, formtribe-2023

#1521 fix: Error in Docs navigation #1518
  apps/formbricks-com/components/docs/Navigation.tsx
Labels: bug, hacktoberfest-accepted, formtribe-2023

#1471 refactor: Migrate activity service
  apps/web/app/(app)/environments/[environmentId]/people/[personId]/components/ActivityFeed.tsx
  apps/web/app/(app)/environments/[environmentId]/people/[personId]/components/ActivityItemComponents.tsx
  apps/web/app/(app)/environments/[environmentId]/people/[personId]/components/ActivitySection.tsx
  apps/web/app/(app)/environments/[environmentId]/people/[personId]/components/ActivityTimeline.tsx
  apps/web/app/(app)/environments/[environmentId]/people/[personId]/loading.tsx
  packages/lib/action/cache.ts
  packages/lib/action/service.ts
  packages/lib/activity/service.ts
  packages/lib/activity/util.ts
Labels: formtribe-2023

#1524 fix(bug): default role implemented
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/AddMemberModal.tsx
Labels: bug, hacktoberfest-accepted, formtribe-2023

#1495 fix: remove welcome card from email preview
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedTabs/EmailTab.tsx
Labels: bug, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1509 fix: account deletion failing issue
  packages/database/migrations/20231030105533_add_cascade_delete_to_integrations/migration.sql
  packages/database/schema.prisma
Labels: ❗️ migrations

#858 feat: stripe integration
  .github/workflows/cron-reportUsageToStripe.yml
  apps/formbricks-com/components/shared/PricingTable.tsx
  apps/web/app/(app)/billing-confirmation/components/ConfirmationPage.tsx
  apps/web/app/(app)/billing-confirmation/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/billing/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/billing/components/PricingTable.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/billing/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/EditSignature.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
  apps/web/app/api/billing/create-customer-portal-session/route.ts
  apps/web/app/api/billing/stripe-webhook/route.ts
  apps/web/app/api/cron/report-usage/route.ts
  apps/web/app/api/v1/client/storage/local/route.ts
  apps/web/app/api/v1/client/storage/route.ts
  apps/web/app/api/v1/js/sync/lib/sync.ts
  apps/web/app/api/v1/management/storage/local/route.ts
  apps/web/app/api/v1/og/route.tsx
  apps/web/app/lib/singleUseSurveys.ts
  packages/database/jsonTypes.ts
  packages/database/migrations/20231030174314_add_billing_to_team/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/ee/billing/api/stripe-webhook.ts
  packages/ee/billing/handlers/checkoutSessionCompleted.ts
  packages/ee/billing/handlers/subscriptionCreatedOrUpdated.ts
  packages/ee/billing/handlers/subscriptionDeleted.ts
  packages/ee/billing/lib/constants.ts
  packages/ee/billing/lib/createCustomerPortalSession.ts
  packages/ee/billing/lib/createSubscription.ts
  packages/ee/billing/lib/removeSubscription.ts
  packages/ee/billing/lib/reportUsage.ts
  packages/js/src/lib/widget.ts
  packages/lib/constants.ts
  packages/lib/crypto.ts
  packages/lib/display/cache.ts
  packages/lib/response/service.ts
  packages/lib/team/auth.ts
  packages/lib/team/service.ts
  packages/types/teams.ts
  packages/ui/AlertDialog/index.tsx
  packages/ui/BillingSlider/index.tsx
  packages/ui/PricingCard/index.tsx
  turbo.json
Labels: ❗️ migrations
