Repository formbricks/formbricks, pull requests merged in 2023-11, with the labels that each got.

#1575 fix : delete btn is not disabling when clicking #1519
  apps/web/app/(app)/environments/[environmentId]/settings/product/components/DeleteProductRender.tsx
Labels: bug

#1540 fix: avoid blocking the request if it does not have an associated ip
  apps/web/middleware.ts
Labels: bug

#1567 fix: make pricing pages consistent
  apps/formbricks-com/pages/pricing.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/billing/components/PricingTable.tsx
Labels: bug

#1398 fix: Add scroll to the setting navbar
  apps/web/app/(app)/environments/[environmentId]/settings/components/SettingsNavbar.tsx
Labels: bug, hacktoberfest, formtribe-2023

#1586 fix: fixed URL example for "Create Survey" API endpoint is wrong #1555
  apps/formbricks-com/app/docs/api/management/surveys/page.mdx
Labels: bug

#1592 refactor: Airtable & GS endpoints to use responses return objects
  .env.example
  apps/formbricks-com/app/docs/integrations/airtable/page.mdx
  apps/web/app/(app)/environments/[environmentId]/integrations/airtable/lib/airtable.ts
  apps/web/app/(app)/environments/[environmentId]/integrations/airtable/page.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/lib/google.ts
  apps/web/app/api/google-sheet/callback/route.ts
  apps/web/app/api/google-sheet/route.ts
  apps/web/app/api/v1/integrations/airtable/callback/route.ts
  apps/web/app/api/v1/integrations/airtable/route.ts
  apps/web/app/api/v1/integrations/airtable/tables/route.ts
  apps/web/env.mjs
  packages/lib/airtable/service.ts
  packages/lib/constants.ts
  turbo.json
Labels: ❗️ .env changes

#1368 feat: Add color scheme for light and dark themes
  apps/web/app/(app)/environments/[environmentId]/surveys/components/SurveyList.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  packages/tailwind-config/tailwind.config.js
  packages/ui/EmptySpaceFiller/index.tsx
Labels: enhancement, hacktoberfest, formtribe-2023

#1611 fix: #1610
  packages/lib/authOptions.ts
Labels: bug

#1616 feat: add toggle for in-app formbricks branding
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/EditBranding.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/EditSignature.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedTabs/LinkTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  apps/web/app/lib/api/clientSettings.ts
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/pages/api/v1/client/surveys/[surveyId]/index.ts
  packages/database/migrations/20231114143459_rename_branding/migration.sql
  packages/database/schema.prisma
  packages/js/package.json
  packages/js/src/lib/widget.ts
  packages/js/tests/__mocks__/apiMock.ts
  packages/lib/product/service.ts
  packages/surveys/src/components/FormbricksBranding.tsx
  packages/surveys/src/components/Survey.tsx
  packages/surveys/src/components/SurveyInline.tsx
  packages/surveys/src/components/SurveyModal.tsx
  packages/surveys/src/types/props.ts
  packages/types/product.ts
  packages/ui/Survey/index.tsx
Labels: ❗️ migrations

#1365 fix: #1357 button text color changed on nearwhite background color
  apps/web/app/(app)/onboarding/components/Product.tsx
Labels: bug

#1631 style: fixed color contrast in onboarding page
  apps/web/app/(app)/onboarding/components/Objective.tsx
  apps/web/app/(app)/onboarding/components/Onboarding.tsx
  apps/web/app/(app)/onboarding/components/Role.tsx
Labels: enhancement, 🙋🏻‍♂️help wanted

#1621 fix: Server Actions errors on self-hosting because of missing allowedOrigins
  apps/web/next.config.mjs
Labels: ❗️ .env changes

#1568 feat: support for make and n8n integration states
  apps/web/app/(app)/environments/[environmentId]/integrations/page.tsx
  packages/database/migrations/20231116131301_add_types_to_wehbhook_source/migration.sql
  packages/database/schema.prisma
  packages/lib/webhook/service.ts
  packages/types/webhooks.ts
Labels: ❗️ migrations

#1692 fix: link survey page title now has survey name
  apps/web/app/s/[surveyId]/page.tsx
Labels: bug, 🙋🏻‍♂️help wanted

#1416 feat: Time to complete Metadata
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/FileUploadSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryDropOffs.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryMetadata.tsx
  apps/web/app/lib/formbricks.ts
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/pages/api/v1/client/environments/[environmentId]/responses/[responseId]/index.ts
  apps/web/pages/api/v1/client/environments/[environmentId]/responses/index.ts
  packages/api/src/api/client/response.ts
  packages/database/migrations/20231129143833_add_ttc_to_response/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/js/src/lib/widget.ts
  packages/lib/response/service.ts
  packages/lib/response/util.ts
  packages/lib/surveyState.ts
  packages/surveys/src/components/general/QuestionConditional.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
  packages/surveys/src/components/questions/CTAQuestion.tsx
  packages/surveys/src/components/questions/ConsentQuestion.tsx
  packages/surveys/src/components/questions/FileUploadQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/questions/NPSQuestion.tsx
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
  packages/surveys/src/components/questions/PictureSelectionQuestion.tsx
  packages/surveys/src/components/questions/RatingQuestion.tsx
  packages/surveys/src/lib/ttc.ts
  packages/types/responses.ts
Labels: ❗️ migrations
