Repository formbricks/formbricks, pull requests merged in 2023-12, with the labels that each got.

#1515 feat: add image/color/animation as survey background
  apps/web/app/(app)/environments/[environmentId]/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/AnimatedSurveyBg.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/ColorSurveyBg.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/ImageSurveyBg.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SettingsView.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/StylingCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyBgSelectorTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyEditor.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/Modal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  apps/web/app/s/[surveyId]/components/LegalFooter.tsx
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/app/s/[surveyId]/components/MediaBackground.tsx
  apps/web/app/s/[surveyId]/components/PinScreen.tsx
  apps/web/app/s/[surveyId]/layout.tsx
  apps/web/app/s/[surveyId]/page.tsx
  packages/database/jsonTypes.ts
  packages/database/migrations/20231204180155_add_styling/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/lib/constants.ts
  packages/lib/survey/service.ts
  packages/surveys/src/components/general/Headline.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/types/surveys.ts
Labels: enhancement, ❗️ migrations, hacktoberfest, formtribe-2023

#1742 feat: add playwright e2e tests infrastructure
  .github/workflows/playwright.yml
  .github/workflows/pr.yml
  .gitignore
  apps/web/playwright/lib/user.ts
  apps/web/playwright/signup.spec.ts
  docker-compose.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: ❗️ .env changes

#1347 feat: Automatic team assignment + skip onboarding
  .env.example
  apps/formbricks-com/app/docs/self-hosting/docker/page.mdx
  apps/web/app/(app)/environments/[environmentId]/settings/members/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/product/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/page.tsx
  apps/web/app/api/v1/users/route.ts
  apps/web/app/lib/users/users.ts
  apps/web/app/page.tsx
  docker-compose.yml
  docker/docker-compose.yml
  packages/lib/auth/util.ts
  packages/lib/authOptions.ts
  packages/lib/constants.ts
  packages/lib/env.mjs
  packages/lib/membership/service.ts
  packages/lib/team/service.ts
  packages/types/teams.ts
  packages/ui/SettingsId/index.tsx
  turbo.json
Labels: ❗️ .env changes

#1775 fix: drop off rate
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryDropOffs.tsx
Labels: bug

#1197 feat: Notion Integration
  .env.example
  apps/formbricks-com/app/docs/integrations/google-sheets/page.mdx
  apps/formbricks-com/app/docs/integrations/notion/images/connect-with-notion.png
  apps/formbricks-com/app/docs/integrations/notion/images/delete-connection.png
  apps/formbricks-com/app/docs/integrations/notion/images/integrations-tab.png
  apps/formbricks-com/app/docs/integrations/notion/images/link-survey-with-database.png
  apps/formbricks-com/app/docs/integrations/notion/images/link-with-databases.png
  apps/formbricks-com/app/docs/integrations/notion/images/list-linked-databases.png
  apps/formbricks-com/app/docs/integrations/notion/images/notion-connected.png
  apps/formbricks-com/app/docs/integrations/notion/page.mdx
  apps/formbricks-com/components/docs/Navigation.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/actions.ts
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/components/AddIntegrationModal.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/components/Connect.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/components/Home.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/components/NotionWrapper.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/constants.ts
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/lib/notion.ts
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/page.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/page.tsx
  apps/web/app/api/pipeline/lib/handleIntegrations.ts
  apps/web/app/api/pipeline/route.ts
  apps/web/app/api/v1/integrations/notion/callback/route.ts
  apps/web/app/api/v1/integrations/notion/route.ts
  apps/web/images/notion.png
  packages/database/migrations/20231207064643_add_notion_integration/migration.sql
  packages/database/schema.prisma
  packages/lib/constants.ts
  packages/lib/env.mjs
  packages/lib/integration/service.ts
  packages/lib/notion/service.ts
  packages/types/integration/index.ts
  packages/types/integration/notion.ts
  packages/ui/Modal/index.tsx
  turbo.json
Labels: ❗️ migrations, ❗️ .env changes, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1797 fix: codespaces setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .env.example
  apps/web/next.config.mjs
Labels: ❗️ .env changes

#1817 fix: remove comments in env files
  .env.example
  docker-compose.yml
  package.json
Labels: ❗️ .env changes

#1828 fix: make template page keyboard accessible
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/TemplateList.tsx
Labels: enhancement, 🙋🏻‍♂️help wanted
