Repository formbricks/formbricks, pull requests merged in 2023-09, with the labels that each got.

#771 fix: Array Nullity Check in JS packages
  packages/lib/utils/array.ts
Labels: bug, size/S

#754 Add Missing Environment Variables in Documentation
  .env.example
  apps/formbricks-com/app/docs/self-hosting/from-source/page.mdx
  apps/web/env.mjs
  turbo.json
Labels: ❗️ .env changes

#802 fix: webapp_url env var not reflected client side
  apps/web/app/(app)/environments/[environmentId]/surveys/SurveyDropDownMenu.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/SurveyList.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/LinkModalButton.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/LinkSurveyModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/SuccessMessage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/SummaryHeader.tsx
  apps/web/env.mjs
Labels: bug

#790 refactor: Added input validation using zod
  packages/lib/services/actionClass.ts
  packages/lib/services/actions.ts
  packages/lib/services/activity.tsx
  packages/lib/services/apiKey.ts
  packages/lib/services/attributeClass.ts
  packages/lib/services/displays.ts
  packages/lib/services/environment.ts
  packages/lib/services/person.ts
  packages/lib/services/product.ts
  packages/lib/services/profile.ts
  packages/lib/services/response.ts
  packages/lib/services/session.ts
  packages/lib/services/survey.ts
  packages/lib/services/team.ts
  packages/lib/services/teamDetails.ts
  packages/lib/services/webhook.ts
  packages/lib/utils/validate.ts
  packages/surveys/postcss.config.js
  packages/types/v1/attributeClasses.ts
  packages/types/v1/environment.ts
  packages/types/v1/membership.ts
Labels: do-not-merge/work-in-progress, priority/high

#793 fix: Validation error causes auto close of survey to not work
  packages/lib/time.ts
Labels: bug, size/S

#724 feat: Introduces Source to the Webhook Model
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/AddWebhookModal.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/SurveyCheckboxGroup.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/TriggerCheckboxGroup.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/WebhookOverviewTab.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/WebhookRowData.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/WebhookSettingsTab.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/WebhookTable.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/WebhookTableHeading.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/actions.ts
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/loading.tsx
  apps/web/components/shared/ModalWithTabs.tsx
  packages/database/migrations/20230913115355_add_source_to_webhooks/migration.sql
  packages/database/schema.prisma
  packages/lib/services/webhook.ts
  packages/types/v1/webhooks.ts
Labels: ❗️ migrations

#817 feat: upgrade to nextjs 13.4.19
  .env.example
  apps/web/package.json
  pnpm-lock.yaml
Labels: ❗️ .env changes

#807 feat: nextjs custom 404 page notFound
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/SummaryHeader.tsx
  apps/web/app/s/[surveyId]/SurveyInactive.tsx
  apps/web/app/s/[surveyId]/not-found.tsx
  apps/web/app/s/[surveyId]/page.tsx
  packages/database/migrations/20230915143725_remove_survey_status_archived/migration.sql
  packages/database/schema.prisma
  packages/types/surveys.ts
  packages/types/v1/surveys.ts
Labels: ❗️ migrations

#801 feat: resolvable notes
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/ResponseNote.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/actions.ts
  apps/web/pages/api/v1/client/environments/[environmentId]/responses/[responseId]/index.ts
  apps/web/pages/api/v1/client/environments/[environmentId]/responses/index.ts
  packages/database/migrations/20230918025340_add_is_resolved_and_is_edited_to_response_note/migration.sql
  packages/database/schema.prisma
  packages/lib/services/response.ts
  packages/lib/services/responseNote.ts
  packages/types/v1/responses.ts
Labels: enhancement, ❗️ migrations

#735 feat: Integration/google sheet
  apps/formbricks-com/app/docs/integrations/google-sheets/page.mdx
  apps/formbricks-com/components/docs/Navigation.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/AddIntegrationModal.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/Connect.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/GoogleSheetWrapper.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/Home.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/actions.ts
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/page.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/CustomFilter.tsx
  apps/web/app/PostHogClient.tsx
  apps/web/app/api/cron/close_surveys/route.ts
  apps/web/app/api/google-sheet/callback/route.ts
  apps/web/app/api/google-sheet/route.ts
  apps/web/app/api/integration/integrations.ts
  apps/web/app/api/pipeline/route.ts
  apps/web/components/shared/GoBackButton.tsx
  apps/web/env.mjs
  apps/web/images/google-sheets-small.png
  apps/web/images/logo.svg
  apps/web/package.json
  apps/web/token.json
  packages/database/jsonTypes.ts
  packages/database/migrations/20230915154251_add_integration/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/lib/client/google.ts
  packages/lib/services/googleSheet.ts
  packages/lib/services/integrations.ts
  packages/types/v1/integrations.ts
  pnpm-lock.yaml
  turbo.json
Labels: ❗️ migrations

#788 feat : Management API
  apps/formbricks-com/app/docs/api/responses/page.mdx
  apps/formbricks-com/app/docs/api/surveys/page.mdx
  apps/web/app/api/v1/auth.ts
  apps/web/app/api/v1/management/action-classes/[actionClassId]/route.ts
  apps/web/app/api/v1/management/action-classes/route.ts
  apps/web/app/api/v1/management/attribute-classes/[attributeClassId]/route.ts
  apps/web/app/api/v1/management/attribute-classes/route.ts
  apps/web/app/api/v1/management/me/route.ts
  apps/web/app/api/v1/management/people/[personId]/route.ts
  apps/web/app/api/v1/management/people/route.ts
  apps/web/app/api/v1/management/responses/[responseId]/route.ts
  apps/web/app/api/v1/management/responses/route.ts
  apps/web/app/api/v1/management/surveys/[surveyId]/route.ts
  apps/web/app/api/v1/management/surveys/route.ts
  apps/web/app/api/v1/responses/route.ts
  apps/web/app/api/v1/surveys/route.ts
  apps/web/next.config.mjs
  apps/web/pages/api/v1/client/environments/[environmentId]/responses/[responseId]/index.ts
  apps/web/pages/api/v1/client/environments/[environmentId]/responses/index.ts
  packages/lib/services/actionClass.ts
  packages/lib/services/attributeClass.ts
  packages/lib/services/displays.ts
  packages/lib/services/integrations.ts
  packages/lib/services/person.ts
  packages/lib/services/profile.ts
  packages/lib/services/response.ts
  packages/lib/services/survey.ts
  packages/types/v1/actionClasses.ts
  packages/types/v1/attributeClasses.ts
  packages/types/v1/auth.ts
  packages/types/v1/people.ts
  packages/types/v1/responses.ts
  packages/types/v1/surveys.ts
Labels: priority/high
