Repository formbricks/formbricks, pull requests merged in 2024-08, with the labels that each got.

#2941 fix: session token size
  apps/web/app/(app)/(onboarding)/organizations/[organizationId]/layout.tsx
  apps/web/app/(app)/(onboarding)/organizations/actions.ts
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/layout.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/templates/page.tsx
  apps/web/app/(app)/components/FormbricksClient.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/[personId]/components/ResponseSection.tsx
  apps/web/app/(app)/environments/[environmentId]/actions.ts
  apps/web/app/(app)/environments/[environmentId]/components/EnvironmentLayout.tsx
  apps/web/app/(app)/environments/[environmentId]/components/MainNavigation.tsx
  apps/web/app/(app)/environments/[environmentId]/components/PosthogIdentify.tsx
  apps/web/app/(app)/environments/[environmentId]/layout.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/DeleteAccount.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EditProfileAvatarForm.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/members/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/page.tsx
  apps/web/app/(app)/layout.tsx
  apps/web/app/(auth)/invite/page.tsx
  apps/web/app/api/v1/management/me/route.ts
  apps/web/app/api/v1/users/me/route.ts
  apps/web/app/setup/organization/[organizationId]/invite/actions.ts
  apps/web/app/setup/organization/create/components/RemovedFromOrganization.tsx
  apps/web/app/setup/organization/create/page.tsx
  packages/lib/actionClient/index.ts
  packages/lib/authOptions.ts
  packages/types/next-auth.d.ts
  packages/ui/DeleteAccountModal/index.tsx
Labels: bug

#2949 fix: identation for docker-compose.yml
  docker-compose.yml
Labels: bug

#2953 fix: color coding in NPS misplaces text
  packages/surveys/src/components/questions/NPSQuestion.tsx
Labels: bug, good first issue, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points

#2960 fix: demo app responsive add favicon
  apps/demo/pages/app/index.tsx
  apps/demo/pages/website/index.tsx
  apps/demo/public/favicon.ico
Labels: enhancement, good first issue, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points

#2965 docs: update and improve Microsoft Entra ID / Azure AD app registration steps
  apps/docs/app/self-hosting/configuration/images/entra_app_reg_01.png
  apps/docs/app/self-hosting/configuration/images/entra_app_reg_02.png
  apps/docs/app/self-hosting/configuration/images/entra_app_reg_03.png
  apps/docs/app/self-hosting/configuration/images/entra_app_reg_04.png
  apps/docs/app/self-hosting/configuration/images/entra_app_reg_05.png
  apps/docs/app/self-hosting/configuration/images/entra_app_reg_06.png
  apps/docs/app/self-hosting/configuration/images/entra_app_reg_07.png
  apps/docs/app/self-hosting/configuration/images/entra_app_reg_08.png
  apps/docs/app/self-hosting/configuration/page.mdx
Labels: bug, good first issue, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points

#2995 fix: Open external links in a new tab #2994
  apps/docs/components/Header.tsx
Labels: bug

#3003 fix: next-config env variables are not unique
  .env.example
  .github/actions/cache-build-web/action.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  apps/docs/app/self-hosting/configuration/page.mdx
  apps/web/app/api/pipeline/route.ts
  apps/web/app/lib/pipelines.ts
  apps/web/next.config.mjs
  packages/lib/constants.ts
  packages/lib/env.ts
  packages/lib/telemetry.ts
  turbo.json
Labels: ❗️ .env changes

#3007 feat: Add auto-refresh to the analysis view
  apps/docs/app/self-hosting/one-click/page.mdx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/components/SurveyAnalysisNavigation.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SuccessMessage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SurveyAnalysisCTA.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/ResultsShareButton.tsx
  apps/web/app/share/[sharingKey]/(analysis)/responses/page.tsx
  apps/web/app/share/[sharingKey]/(analysis)/summary/page.tsx
  apps/web/playwright/survey.spec.ts
Labels: enhancement

#3006 fix: progress bar on welcome card
  packages/surveys/src/components/general/ProgressBar.tsx
Labels: bug

#2986 fix: Filters do not apply to summary impressions
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryMetadata.tsx
  apps/web/playwright/js.spec.ts
  packages/database/migrations/20240815084351_adds_relation_between_display_and_response/migration.sql
  packages/database/schema.prisma
  packages/lib/display/service.ts
  packages/lib/response/service.ts
  packages/types/displays.ts
Labels: bug, ❗️ migrations

#3015 fix: remove failing prisma migration
  packages/database/migrations/20240815084351_adds_relation_between_display_and_response/migration.sql
  packages/database/schema.prisma
Labels: ❗️ migrations

#3016 fix: recall info on thank you card
  packages/surveys/src/components/general/EndingCard.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 100 points

#3019 feat: Added ColorPicker component to Storybook
  packages/ui/ColorPicker/stories.tsx
Labels: enhancement, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points

#3029 fix: missing question type in Add question below menu
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditorCardMenu.tsx
Labels: bug

#3013 feat: survey variables
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/HiddenFieldsCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsView.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyVariablesCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyVariablesCardItem.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/lib/minimalSurvey.ts
  apps/web/app/api/cron/weekly-summary/lib/notificationResponse.ts
  packages/database/json-types.ts
  packages/database/migrations/20240813094711_added_variables_to_survey_model/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/lib/styling/constants.ts
  packages/lib/survey/service.ts
  packages/lib/survey/tests/__mock__/survey.mock.ts
  packages/lib/utils/recall.ts
  packages/surveys/src/components/general/EndingCard.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
  packages/surveys/src/lib/recall.ts
  packages/types/surveys/types.ts
  packages/ui/Input/index.tsx
  packages/ui/PreviewSurvey/index.tsx
  packages/ui/QuestionFormInput/components/RecallItemSelect.tsx
  packages/ui/SingleResponseCard/components/SingleResponseCardBody.tsx
Labels: ❗️ migrations

#3042 fix: open outbound links in new tab
  packages/ee/multi-language/components/localized-editor.tsx
  packages/ui/Editor/components/ToolbarPlugin.tsx
Labels: enhancement, good first issue, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 100 points, customer request

#3047 feat: replace emojis in survey editor and survey fetching
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditEndingCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditWelcomeCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/HiddenFieldsCard.tsx
  packages/ui/SurveysList/index.tsx
Labels: bug, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points, community request

#3004 fix: closing survey on mobile falsely positions it
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/ColorSurveyBg.tsx
  apps/web/app/(app)/environments/[environmentId]/product/tags/page.tsx
  apps/web/app/lib/questions.tsx
  packages/lib/constants.ts
  packages/ui/MediaBackground/index.tsx
  packages/ui/PreviewSurvey/components/Modal.tsx
  packages/ui/PreviewSurvey/index.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 100 points

#3065 fix: new survey button visible to viewers
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/templates/page.tsx
  apps/web/app/(app)/environments/[environmentId]/components/EnvironmentLayout.tsx
  apps/web/app/(app)/environments/[environmentId]/components/TopControlBar.tsx
  apps/web/app/(app)/environments/[environmentId]/components/TopControlButtons.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/page.tsx
Labels: bug
