Repository formbricks/formbricks, pull requests merged in 2024-05, with the labels that each got.

#2549 fix: Button label issue
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsView.tsx
Labels: 🙋‍♀️ to be reviewed

#2533 fix: migration for default translation missing in welcome card headline
  packages/database/data-migrations/20240318050527_add_languages_and_survey_languages/data-migration-welcomeCard-fix.ts
  packages/database/data-migrations/20240318050527_add_languages_and_survey_languages/data-migration.ts
  packages/database/data-migrations/20240318050527_add_languages_and_survey_languages/lib/i18n.ts
  packages/database/package.json
Labels: 🙋‍♀️ to be reviewed

#2576 fix: image uploader on welcome card
  packages/ui/QuestionFormInput/utils.ts
Labels: bug

#2531 feat: Slick card look
  apps/demo/components/SurveySwitch.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/ThemeStyling.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/ThemeStylingPreviewSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/BackgroundStylingCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/CardStylingSettings.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/FormStylingSettings.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/Modal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  apps/web/app/s/[surveyId]/components/InvalidLanguage.tsx
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/app/s/[surveyId]/components/MediaBackground.tsx
  apps/web/app/s/[surveyId]/components/VerifyEmail.tsx
  apps/web/playwright/js.spec.ts
  apps/web/playwright/survey.spec.ts
  packages/surveys/src/components/general/QuestionConditional.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/SurveyCloseButton.tsx
  packages/surveys/src/components/general/SurveyInline.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
  packages/surveys/src/components/questions/AddressQuestion.tsx
  packages/surveys/src/components/questions/CTAQuestion.tsx
  packages/surveys/src/components/questions/CalQuestion.tsx
  packages/surveys/src/components/questions/ConsentQuestion.tsx
  packages/surveys/src/components/questions/DateQuestion.tsx
  packages/surveys/src/components/questions/FileUploadQuestion.tsx
  packages/surveys/src/components/questions/MatrixQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/questions/NPSQuestion.tsx
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
  packages/surveys/src/components/questions/PictureSelectionQuestion.tsx
  packages/surveys/src/components/questions/RatingQuestion.tsx
  packages/surveys/src/components/wrappers/AutoCloseWrapper.tsx
  packages/surveys/src/components/wrappers/Modal.tsx
  packages/surveys/src/components/wrappers/StackedCardsContainer.tsx
  packages/surveys/src/lib/ttc.ts
  packages/types/styling.ts
  packages/ui/StackedCardsContainer/index.tsx
  packages/ui/Styling/components/CardArrangement.tsx
  packages/ui/Styling/components/CardArrangementIcons.tsx
Labels: 🙋‍♀️ to be reviewed

#2589 chore: add v2.0 data migration
  packages/database/package.json
Labels: 🏁 wait for release

#2587 fix: close survey button on centerd app survey
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/SurveyModal.tsx
  packages/types/formbricksSurveys.ts
Labels: enhancement

#2595 fix: incorrect format note in multiple best practices page
  apps/docs/app/best-practices/interview-prompt/page.mdx
Labels: bug, good first issue, Docs, 🕹️ oss.gg, 🕹️ 100 points

#2574 feat: added hardownload icon
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/CustomFilter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/ResultsShareButton.tsx
Labels: ready to merge

#2604 fix: docs hover color dark mode
  apps/docs/components/Navigation.tsx
Labels: ready to merge

#2580 fix: disable formbricks error state in debug mode
  packages/js-core/src/app/lib/initialize.ts
  packages/js-core/src/website/lib/initialize.ts
Labels: enhancement

#2564 feat: replaces dnd with dnd-kit
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/MultipleChoiceQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsDroppable.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsView.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SelectQuestionChoice.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/StrictModeDroppable.tsx
  apps/web/package.json
  apps/web/playwright/survey.spec.ts
  apps/web/playwright/utils/helper.ts
  packages/ui/QuestionFormInput/index.tsx
  pnpm-lock.yaml
Labels: 👩‍💻 waiting for changes

#2640 fix: data migration for styling fixes
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/BackgroundStylingCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/CardStylingSettings.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/FormStylingSettings.tsx
  apps/web/app/(app)/environments/[environmentId]/product/look/components/ThemeStyling.tsx
  apps/web/app/(app)/environments/[environmentId]/product/look/components/ThemeStylingPreviewSurvey.tsx
  packages/database/data-migrations/20240320090315_add_form_styling/data-migration-fix.ts
  packages/database/package.json
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/wrappers/StackedCardsContainer.tsx
Labels: bug

#2641 fix: input color issue on rating questio
  packages/surveys/src/components/general/Headline.tsx
  packages/surveys/src/components/general/SurveyCloseButton.tsx
  packages/surveys/src/styles/global.css
Labels: bug

#2637 fix: Multiple File Uploads in a row put all the files at the beginning
  packages/surveys/src/components/general/FileInput.tsx
  packages/surveys/src/components/questions/FileUploadQuestion.tsx
  packages/ui/FileInput/index.tsx
Labels: bug

#2639 fix: Shuffled choices issue
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SelectQuestionChoice.tsx
  packages/surveys/src/components/questions/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/lib/utils.ts
Labels: bug

#2675 fix: set "desktop" as default device type
  apps/web/app/api/v1/(legacy)/client/responses/route.ts
  apps/web/app/api/v1/client/[environmentId]/responses/route.ts
Labels: bug

#2661 fix: ee license check
  packages/ee/lib/service.ts
Labels: bug

#2667 fix: access token expiration issue in google sheet integration
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/actions.ts
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/components/AddIntegrationModal.tsx
  apps/web/app/api/pipeline/lib/handleIntegrations.ts
  packages/lib/googleSheet/service.ts
Labels: bug

#2668 feat: rework-the-loading.tsx-on-people-page
  apps/web/app/(app)/environments/[environmentId]/(people)/attributes/components/AttributeClassesTable.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/attributes/components/AttributeRowData.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/attributes/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/attributes/page.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/components/PeopleSecondaryNavigation.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/components/PersonCard.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/components/SegmentTable.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/components/SegmentTableDataRow.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/page.tsx
  packages/ui/SecondaryNavigation/index.tsx
Labels: enhancement, good first issue, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points, 🕹️ rookie, 🕹️ deputy

#2660 feat: rework the loading.tsx on Actions page
  apps/web/app/(app)/environments/[environmentId]/(people)/attributes/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/actions/loading.tsx
Labels: enhancement, good first issue, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points
