Repository formbricks/formbricks, pull requests merged in 2024-07, with the labels that each got.

#2827 fix: surveys package tailwind
  packages/js/index.html
  packages/surveys/package.json
  packages/surveys/src/components/buttons/BackButton.tsx
  packages/surveys/src/components/buttons/SubmitButton.tsx
  packages/surveys/src/components/general/AutoCloseProgressBar.tsx
  packages/surveys/src/components/general/CalEmbed.tsx
  packages/surveys/src/components/general/FileInput.tsx
  packages/surveys/src/components/general/FormbricksBranding.tsx
  packages/surveys/src/components/general/Headline.tsx
  packages/surveys/src/components/general/HtmlBody.tsx
  packages/surveys/src/components/general/LanguageSwitch.tsx
  packages/surveys/src/components/general/LoadingSpinner.tsx
  packages/surveys/src/components/general/Progress.tsx
  packages/surveys/src/components/general/QuestionMedia.tsx
  packages/surveys/src/components/general/RedirectCountdown.tsx
  packages/surveys/src/components/general/ResponseErrorComponent.tsx
  packages/surveys/src/components/general/Subheader.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/SurveyCloseButton.tsx
  packages/surveys/src/components/general/SurveyInline.tsx
  packages/surveys/src/components/general/SurveyModal.tsx
  packages/surveys/src/components/general/ThankYouCard.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
  packages/surveys/src/components/questions/AddressQuestion.tsx
  packages/surveys/src/components/questions/CTAQuestion.tsx
  packages/surveys/src/components/questions/CalQuestion.tsx
  packages/surveys/src/components/questions/ConsentQuestion.tsx
  packages/surveys/src/components/questions/DateQuestion.tsx
  packages/surveys/src/components/questions/FileUploadQuestion.tsx
  packages/surveys/src/components/questions/MatrixQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/questions/NPSQuestion.tsx
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
  packages/surveys/src/components/questions/PictureSelectionQuestion.tsx
  packages/surveys/src/components/questions/RatingQuestion.tsx
  packages/surveys/src/components/wrappers/AutoCloseWrapper.tsx
  packages/surveys/src/components/wrappers/Modal.tsx
  packages/surveys/src/components/wrappers/ScrollableContainer.tsx
  packages/surveys/src/components/wrappers/StackedCardsContainer.tsx
  packages/surveys/src/styles/global.css
  packages/surveys/tailwind.config.cjs
  pnpm-lock.yaml
Labels: bug

#2799 feat: add support for self-hosted cal.com instances
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/CalQuestionForm.tsx
  apps/web/app/lib/questions.tsx
  packages/lib/i18n/i18n.mock.ts
  packages/surveys/src/components/general/CalEmbed.tsx
  packages/types/LegacySurvey.ts
  packages/types/surveys.ts
Labels: enhancement

#2814 fix: delay stacked card container height calculation
  packages/surveys/src/components/wrappers/StackedCardsContainer.tsx
Labels: bug

#2854 fix: survey card issues
  packages/lib/templates.ts
  packages/surveys/src/components/wrappers/StackedCardsContainer.tsx
  packages/ui/PreviewSurvey/components/Modal.tsx
  packages/ui/PreviewSurvey/lib/utils.ts
Labels: bug

#2840 chore: Remove NEXTAUTH_URL
  .env.example
  .github/workflows/kamal-deploy.yml
  .github/workflows/kamal-setup.yml
  apps/docs/app/developer-docs/integrations/slack/page.mdx
  apps/docs/app/self-hosting/configuration/page.mdx
  apps/docs/app/self-hosting/migration-guide/page.mdx
  apps/web/next.config.mjs
  docker-compose.yml
  docker/docker-compose.yml
  docker/formbricks.sh
  kamal/deploy.yml
  packages/lib/env.ts
  turbo.json
Labels: ❗️ .env changes

#2843 chore: make cron secret required
  .env.example
  apps/docs/app/developer-docs/contributing/get-started/page.mdx
  apps/docs/app/self-hosting/configuration/page.mdx
  apps/docs/app/self-hosting/docker/page.mdx
  docker-compose.yml
  docker/docker-compose.yml
  docker/formbricks.sh
  packages/lib/env.ts
Labels: ❗️ .env changes

#2889 fix: Added type to ResetProgressButton
  packages/ui/ResetProgressButton/index.tsx
Labels: bug

#2876 chore: added SMTP_REJECT_UNAUTHORIZED_TLS env variable
  .env.example
  apps/docs/app/self-hosting/configuration/page.mdx
  docker-compose.yml
  docker/docker-compose.yml
  packages/email/index.tsx
  packages/lib/constants.ts
  packages/lib/env.ts
  turbo.json
Labels: ❗️ .env changes

#2915 docs: unify CRON_SECRET descriptions
  .env.example
  docker/docker-compose.yml
Labels: ❗️ .env changes

#2925 style: Use AdvancedOptionToggle in schedule a call form
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/CalQuestionForm.tsx
Labels: enhancement, good first issue, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points

#2899 feat: add badge component to Storybook
  packages/ui/Badge/index.tsx
  packages/ui/Badge/stories.ts
Labels: enhancement, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points

#2935 fix: Dissmissed responses are (but should not be) counted in the summary graph
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/RatingSummary.tsx
  packages/lib/response/utils.ts
  packages/types/surveys/types.ts
Labels: bug

#2936 fix: action update cache
  packages/lib/actionClass/service.ts
Labels: bug
