Repository formbricks/formbricks, pull requests merged in 2024-06, with the labels that each got.

#2646 feat: change question type
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionMenu.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsDroppable.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsView.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyEditor.tsx
  apps/web/app/lib/questions.tsx
Labels: enhancement

#2714 fix: Question card fixes
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/AddressQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/CTAQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/CalQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/ConsentQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/DateQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditThankYouCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditWelcomeCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/FileUploadQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/MatrixQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/MultipleChoiceQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/NPSQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/OpenQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/PictureSelectionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsView.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/RatingQuestionForm.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SelectQuestionChoice.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/lib/validation.ts
  apps/web/playwright/survey.spec.ts
  apps/web/playwright/utils/helper.ts
  packages/surveys/src/components/questions/RatingQuestion.tsx
  packages/types/surveys.ts
  packages/ui/QuestionFormInput/index.tsx
  packages/ui/QuestionFormInput/utils.ts
Labels: bug

#2700 fix: settings forms
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EditAvatar.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EditName.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EditProfileAvatarForm.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EditProfileDetailsForm.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/members/components/EditOrganizationName.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/members/components/EditOrganizationNameForm.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/members/page.tsx
  packages/database/migrations/20240530073540_made_name_property_on_user_model_optional/migration.sql
  packages/database/schema.prisma
  packages/types/organizations.ts
  packages/types/user.ts
Labels: ❗️ migrations

#2732 fix: Deprecated docker-compose command
  apps/docs/app/self-hosting/migration-guide/page.mdx
  packages/database/package.json
Labels: bug

#2719 feat: Replace 'Show survey to % of users' slider
  apps/docs/app/global/show-survey-to-percent-of-users/images/StepTwo.webp
  apps/docs/app/global/show-survey-to-percent-of-users/page.mdx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/WhenToSendCard.tsx
  packages/database/migrations/20240603130103_display_percentage_to_decimal/migration.sql
  packages/database/schema.prisma
  packages/js-core/src/app/lib/widget.ts
  packages/js-core/src/website/lib/widget.ts
  packages/lib/survey/service.ts
  packages/lib/survey/utils.ts
  packages/types/surveys.ts
Labels: enhancement, ❗️ migrations, FAST TRACK 🔥, 🕹️ oss.gg, 🕹️ 100 points, 🕹️ Level 2, 💸 5 USD

#2737 fix: js package resolution
  packages/js-core/package.json
  packages/js-core/tsconfig.json
  packages/js/package.json
  packages/js/tsconfig.json
  packages/surveys/src/components/general/FileInput.tsx
  packages/tsconfig/js-library.json
  pnpm-lock.yaml
Labels: bug

#2443 feat: recontactSessions new option to remind about survey for some time
  apps/demo/pages/app/index.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/RecontactOptionsCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/lib/minimalSurvey.ts
  apps/web/app/api/v1/client/[environmentId]/app/sync/[userId]/route.ts
  packages/api/src/utils/makeRequest.ts
  packages/database/migrations/20240605104525_added_display_some_and_recontact_sessions/migration.sql
  packages/database/schema.prisma
  packages/js-core/src/website/lib/sync.ts
  packages/lib/i18n/i18n.mock.ts
  packages/lib/response/service.ts
  packages/lib/styling/constants.ts
  packages/lib/survey/service.ts
  packages/lib/survey/tests/__mock__/survey.mock.ts
  packages/types/surveys.ts
Labels: ❗️ migrations, 👩‍💻 waiting for changes

#2740 fix: modified IS_SMTP_CONFIGURED to only check for port and host
  packages/email/index.tsx
Labels: enhancement

#2735 feat: adds average rating to rating question
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/RatingSummary.tsx
Labels: bug

#2753 chore: prepare 2.1 release
  .env.example
  apps/docs/app/self-hosting/configuration/page.mdx
  apps/docs/app/self-hosting/migration-guide/page.mdx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/DeleteAccount.tsx
  apps/web/app/(auth)/auth/signup/page.tsx
  apps/web/app/page.tsx
  apps/web/app/setup/organization/create/actions.ts
  apps/web/app/setup/organization/create/components/CreateOrganization.tsx
  apps/web/app/setup/organization/create/components/RemovedFromOrganization.tsx
  apps/web/app/setup/organization/create/page.tsx
  apps/web/package.json
  docker/docker-compose.yml
  docker/formbricks.sh
  packages/database/package.json
  packages/js-core/website.vite.config.ts.timestamp-1715613168360-369b1d363be3d.mjs
  packages/lib/authOptions.ts
  packages/lib/package.json
  packages/ui/DeleteAccountModal/index.tsx
  pnpm-lock.yaml
Labels: ❗️ .env changes

#2760 feat: adds product config
  apps/web/app/api/v1/users/route.ts
  packages/database/data-migrations/20240612115151_adds_product_config/data-migration.ts
  packages/database/jsonTypes.ts
  packages/database/migrations/20240612115151_adds_product_config/migration.sql
  packages/database/package.json
  packages/database/schema.prisma
  packages/lib/product/service.ts
  packages/types/product.ts
Labels: ❗️ migrations

#2648 feat: pricing & payments v2 for formbricks cloud
  .github/workflows/cron-reportUsageToStripe.yml
  apps/docs/app/global/access-roles/images/team-settings-menu.webp
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/layout.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/FileUploadQuestionForm.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/[personId]/components/ActivitySection.tsx
  apps/web/app/(app)/environments/[environmentId]/actions/page.tsx
  apps/web/app/(app)/environments/[environmentId]/components/EnvironmentLayout.tsx
  apps/web/app/(app)/environments/[environmentId]/components/PosthogIdentify.tsx
  apps/web/app/(app)/environments/[environmentId]/layout.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/billing/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/billing/components/PricingTable.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/billing/layout.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/billing/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/billing/unlimited/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/billing/unlimited99/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/components/OrganizationSettingsNavbar.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/members/components/EditOrganizationName.tsx
  apps/web/app/api/cron/report-usage/route.ts
  apps/web/app/api/v1/(legacy)/js/sync/lib/sync.ts
  apps/web/app/api/v1/client/[environmentId]/actions/route.ts
  apps/web/app/api/v1/client/[environmentId]/app/sync/[userId]/route.ts
  apps/web/app/api/v1/client/[environmentId]/app/sync/lib/posthog.ts
  apps/web/app/api/v1/client/[environmentId]/storage/lib/uploadPrivateFile.ts
  apps/web/app/api/v1/client/[environmentId]/storage/local/route.ts
  apps/web/app/api/v1/client/[environmentId]/storage/route.ts
  apps/web/app/api/v1/client/[environmentId]/website/sync/route.ts
  apps/web/app/api/v1/management/storage/local/route.ts
  apps/web/next.config.mjs
  packages/database/data-migrations/20240613070218_pricing_v2/data-migration.ts
  packages/database/migrations/20240613070218_pricing_v2/migration.sql
  packages/database/package.json
  packages/database/schema.prisma
  packages/ee/billing/api/stripe-webhook.ts
  packages/ee/billing/handlers/checkout-session-completed.ts
  packages/ee/billing/handlers/invoice-finalized.ts
  packages/ee/billing/handlers/subscription-created-or-updated.ts
  packages/ee/billing/handlers/subscription-deleted.ts
  packages/ee/billing/lib/constants.ts
  packages/ee/billing/lib/create-subscription.ts
  packages/ee/billing/lib/downgrade-plan.ts
  packages/ee/billing/lib/is-subscription-cancelled.ts
  packages/ee/billing/lib/remove-subscription.ts
  packages/ee/billing/lib/report-usage.ts
  packages/ee/lib/service.ts
  packages/lib/constants.ts
  packages/lib/organization/service.ts
  packages/lib/posthogServer.ts
  packages/lib/response/service.ts
  packages/lib/response/tests/response.test.ts
  packages/lib/storage/service.ts
  packages/lib/survey/tests/__mock__/survey.mock.ts
  packages/types/organizations.ts
  packages/ui/BillingSlider/index.tsx
  packages/ui/ConfirmationModal/index.tsx
  packages/ui/DevEnvironmentBanner/index.tsx
  packages/ui/LimitsReachedBanner/index.tsx
  packages/ui/PricingCard/index.tsx
  turbo.json
Labels: ❗️ migrations, ❗️ .env changes

#2745 feat: XM template filters
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/templates/components/TemplateContainer.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/templates/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/SurveyStarter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/page.tsx
  apps/web/playwright/js.spec.ts
  packages/js/index.html
  packages/lib/templates.ts
  packages/types/product.ts
  packages/types/templates.ts
  packages/ui/SearchBox/index.tsx
  packages/ui/TemplateList/components/StartFromScratchTemplate.tsx
  packages/ui/TemplateList/components/Template.tsx
  packages/ui/TemplateList/components/TemplateFilters.tsx
  packages/ui/TemplateList/components/TemplateTags.tsx
  packages/ui/TemplateList/index.tsx
  packages/ui/TemplateList/lib/utils.ts
Labels: ❗️ migrations

#2720 feat: added in-page section navigation for docs
  apps/docs/components/Footer.tsx
  apps/docs/components/Heading.tsx
  apps/docs/components/Layout.tsx
  apps/docs/components/MdxImage.tsx
  apps/docs/components/SideNavigation.tsx
  apps/docs/components/mdx.tsx
  apps/docs/hooks/useTableContentObserver.tsx
  apps/docs/mdx/rehype.mjs
Labels: enhancement

#2805 fix: update cache handler based on official example
  .env.example
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/app-connection/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/components/SetupInstructions.tsx
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/website-connection/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/general/page.tsx
  apps/web/app/api/v1/og/route.tsx
  apps/web/app/setup/organization/[organizationId]/invite/components/InviteMembers.tsx
  apps/web/cache-handler.mjs
  apps/web/package.json
  packages/ui/SettingsId/index.tsx
Labels: ❗️ .env changes

#2810 docs: fix gitpod url
  apps/docs/app/developer-docs/contributing/page.mdx
Labels: bug

#2798 fix: initial fix for mail logger
  packages/email/index.tsx
  pnpm-lock.yaml
Labels: enhancement
