Repository formbricks/formbricks, pull requests merged in 2024-12, with the labels that each got.

#4301 fix: ranking ques performance
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/RankingQuestionForm.tsx
  packages/surveys/src/components/questions/RankingQuestion.tsx
  packages/types/surveys/types.ts
Labels: bug

#4047 feat: character limitations to free text question
  apps/web/app/(app)/(onboarding)/environments/[environmentId]/xm-templates/lib/xm-templates.ts
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/OpenQuestionForm.tsx
  apps/web/playwright/api/management/survey.spec.ts
  packages/js/index.html
  packages/lib/messages/de-DE.json
  packages/lib/messages/en-US.json
  packages/lib/messages/fr-FR.json
  packages/lib/messages/pt-BR.json
  packages/lib/response/tests/__mocks__/data.mock.ts
  packages/lib/survey/tests/__mock__/survey.mock.ts
  packages/lib/templates.ts
  packages/surveys/src/components/questions/open-text-question.tsx
  packages/types/surveys/types.ts
Labels: enhancement, low priority, community request

#4442 fix: survey auto complete
  apps/web/app/api/(internal)/pipeline/route.ts
Labels: bug

#4458 fix: resolve BUG #4447
  packages/lib/templates.ts
Labels: bug

#4486 chore: update all npm dependencies
  apps/demo-react-native/package.json
  apps/demo/package.json
  apps/docs/components/Search.tsx
  apps/docs/package.json
  apps/storybook/package.json
  apps/web/app/api/v1/client/[environmentId]/responses/route.ts
  apps/web/app/s/[surveyId]/components/SurveyLinkUsed.tsx
  apps/web/modules/ui/components/editor/components/toolbar-plugin.tsx
  apps/web/package.json
  package.json
  packages/api/package.json
  packages/config-eslint/package.json
  packages/config-prettier/package.json
  packages/config-typescript/package.json
  packages/database/migration/20241209104738_xm_user_identification/migration.ts
  packages/database/migration/20241209110456_xm_segment_migration/migration.ts
  packages/database/package.json
  packages/database/src/scripts/generate-data-migration.ts
  packages/js-core/package.json
  packages/js/package.json
  packages/js/src/index.ts
  packages/lib/crypto.ts
  packages/lib/package.json
  packages/react-native/package.json
  packages/surveys/package.json
  packages/surveys/src/components/buttons/submit-button.tsx
  packages/surveys/src/components/general/input.tsx
  packages/surveys/src/components/general/subheader.tsx
  packages/surveys/src/components/questions/date-question.tsx
  packages/surveys/src/components/questions/open-text-question.tsx
  packages/types/package.json
  packages/vite-plugins/package.json
  pnpm-lock.yaml
Labels: ❗️ migrations

#4529 fix: multi-select component
  apps/web/modules/organization/settings/teams/components/invite-member/individual-invite-tab.tsx
  apps/web/modules/ui/components/multi-select/index.tsx
Labels: enhancement

#4515 fix: survey timeout during routing
  apps/demo/pages/index.tsx
  packages/js-core/src/lib/noCodeActions.ts
  packages/js-core/src/lib/timeout-stack.ts
  packages/js-core/src/lib/widget.ts
Labels: ❗️ migrations
