Repository formbricks/formbricks, pull requests merged in 2024-11, with the labels that each got.

#4208 fix: date select highlight fix
  packages/ui/components/DatePicker/styles.css
Labels: bug

#4038 feat: Update Insight category, document sentiment and archive insights
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/Placement.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SavedActionsTab.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/WhenToSendCard.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/product/api-keys/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/product/look/components/EditPlacementForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/RankingSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareEmbedSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/CopySurveyForm.tsx
  apps/web/app/(auth)/auth/components/BackToLoginButton.tsx
  apps/web/app/api/v1/og/route.tsx
  apps/web/app/setup/(fresh-instance)/intro/page.tsx
  apps/web/modules/ee/insights/components/insight-sheet/actions.ts
  apps/web/modules/ee/insights/components/insight-sheet/index.tsx
  apps/web/modules/ee/insights/components/insight-sheet/lib/documents.ts
  apps/web/modules/ee/insights/components/insights-view.tsx
  apps/web/modules/ee/insights/components/sentiment-select.tsx
  apps/web/modules/ee/insights/experience/actions.ts
  apps/web/modules/ee/insights/experience/components/category-select.tsx
  apps/web/modules/ee/insights/experience/components/dashboard.tsx
  apps/web/modules/ee/insights/experience/components/insight-loading.tsx
  apps/web/modules/ee/insights/experience/components/insight-view.tsx
  apps/web/modules/ee/insights/experience/components/stats.tsx
  apps/web/modules/ee/insights/experience/lib/insights.ts
  apps/web/modules/ee/insights/experience/lib/stats.ts
  apps/web/modules/ee/insights/experience/types/stats.ts
  packages/ee/multi-language/components/language-select.tsx
  packages/email/components/preview-email-template.tsx
  packages/email/emails/survey/response-finished-email.tsx
  packages/email/emails/weekly-summary/live-survey-notification.tsx
  packages/lib/messages/de-DE.json
  packages/lib/messages/en-US.json
  packages/lib/messages/pt-BR.json
  packages/surveys/src/components/general/QuestionMedia.tsx
  packages/surveys/src/components/questions/MatrixQuestion.tsx
  packages/surveys/src/components/questions/PictureSelectionQuestion.tsx
  packages/surveys/src/components/wrappers/Modal.tsx
  packages/ui/components/BadgeSelect/index.tsx
  packages/ui/components/BadgeSelect/stories.ts
  packages/ui/components/FileUploadResponse/index.tsx
  packages/ui/components/Input/stories.tsx
  packages/ui/components/IntegrationCard/index.tsx
  packages/ui/components/LimitsReachedBanner/index.tsx
  packages/ui/components/LoadingSpinner/index.tsx
  packages/ui/components/PendingDowngradeBanner/index.tsx
  packages/ui/components/PreviewSurvey/components/Modal.tsx
  packages/ui/components/QuestionFormInput/index.tsx
  packages/ui/components/RankingResponse/index.tsx
  packages/ui/components/ShareSurveyLink/index.tsx
  packages/ui/components/Sheet/index.tsx
  packages/ui/components/SignupOptions/index.tsx
  packages/ui/components/StylingTabs/index.tsx
Labels: ❗️ migrations

#4239 fix: person response page and copy link transalation issue
  apps/web/app/(app)/environments/[environmentId]/(people)/people/[personId]/components/ResponseSection.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/general/components/ShareInviteModal.tsx
  packages/ui/components/ErrorComponent/index.tsx
Labels: bug

#4229 fix: suid screen getting stuck
  apps/web/app/s/[surveyId]/components/SurveyLinkUsed.tsx
Labels: bug

#4227 fix: templates
  packages/lib/messages/de-DE.json
  packages/lib/messages/en-US.json
  packages/lib/messages/pt-BR.json
  packages/lib/templates.ts
Labels: bug

#4228 fix: toast translation
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EditProfileDetailsForm.tsx
Labels: bug

#4182 fix: setting preview form data resetting
  apps/web/app/(app)/environments/[environmentId]/product/look/components/ThemeStyling.tsx
  apps/web/app/(app)/environments/[environmentId]/product/look/components/ThemeStylingPreviewSurvey.tsx
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#4258 fix: unresponsive table header and preview of inactive survey issue
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditorCardMenu.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/components/PersonTable.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTable.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SurveyAnalysisCTA.tsx
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/app/s/[surveyId]/components/PinScreen.tsx
  apps/web/app/s/[surveyId]/page.tsx
Labels: enhancement, customer request

#4255 fix: hostname regex
  packages/types/surveys/types.ts
Labels: bug

#4277 fix: correct className order in PricingTable component
  apps/web/app/(ee)/(billing)/environments/[environmentId]/settings/(organization)/billing/components/PricingTable.tsx
Labels: bug

#4280 docs: add n8n community node note
  apps/docs/app/developer-docs/integrations/n8n/page.mdx
Labels: enhancement, 🕹️ oss.gg, community request

#4285 fix: increase card size for link surveys
  apps/web/app/s/[surveyId]/components/LinkSurveyWrapper.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/ui/components/PreviewSurvey/index.tsx
Labels: enhancement

#4283 fix: Back Button is Autofocused with No Margin in Modal
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedModal/EmbedView.tsx
Labels: bug

#4226 feat: Expanded the options of time periods in filters
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/CustomFilter.tsx
  packages/lib/messages/de-DE.json
  packages/lib/messages/en-US.json
  packages/lib/messages/pt-BR.json
Labels: enhancement, good first issue, 🕹️ oss.gg

#4289 fix: formbricks not working in github codespace
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Labels: bug

#4279 fix: styling fixes
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/CardStylingSettings.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/StylingView.tsx
  apps/web/app/(app)/environments/[environmentId]/product/look/components/ThemeStyling.tsx
  apps/web/app/(app)/environments/[environmentId]/product/look/loading.tsx
  packages/lib/messages/de-DE.json
  packages/lib/messages/en-US.json
  packages/lib/messages/pt-BR.json
  packages/lib/styling/constants.ts
  packages/lib/templates.ts
  packages/surveys/src/lib/styles.ts
Labels: bug

#4299 fix: email enumeration via forgot password page
  apps/web/app/api/v1/users/forgot-password/route.ts
  packages/lib/messages/de-DE.json
  packages/lib/messages/en-US.json
  packages/lib/messages/pt-BR.json
Labels: bug

#4328 fix: name regex
  packages/types/user.ts
Labels: bug

#4332 fix: only one jump to question is allowed
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/LogicEditorActions.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/lib/utils.tsx
  packages/types/surveys/types.ts
Labels: enhancement, community request

#4317 chore: move ee services to new module structure
  LICENSE
  README.md
  apps/docs/app/self-hosting/license/page.mdx
  apps/web/app/(app)/(onboarding)/organizations/[organizationId]/landing/page.tsx
  apps/web/app/(app)/(onboarding)/organizations/[organizationId]/products/new/settings/page.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/page.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/page.tsx
  apps/web/app/(app)/environments/[environmentId]/actions.ts
  apps/web/app/(app)/environments/[environmentId]/components/EnvironmentLayout.tsx
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/app-connection/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/api-keys/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/general/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/languages/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/look/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/tags/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/enterprise/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/general/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/general/components/EditMemberships/EditMemberships.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/general/page.tsx
  apps/web/app/(auth)/auth/layout.tsx
  apps/web/app/(auth)/auth/login/page.tsx
  apps/web/app/(auth)/auth/signup/page.tsx
  apps/web/app/(ee)/(billing)/environments/[environmentId]/settings/(organization)/billing/page.tsx
  apps/web/app/api/v1/client/[environmentId]/storage/local/route.ts
  apps/web/app/api/v1/client/[environmentId]/storage/route.ts
  apps/web/app/api/v1/users/route.ts
  apps/web/app/lib/utils.ts
  apps/web/app/s/[surveyId]/page.tsx
  apps/web/app/setup/organization/create/actions.ts
  apps/web/app/setup/organization/create/page.tsx
  apps/web/modules/ee/LICENSE
  apps/web/modules/ee/license-check/lib/utils.ts
  apps/web/modules/ee/license-check/types/enterprise-license.ts
  apps/web/modules/ee/teams/product-teams/page.tsx
  apps/web/modules/ee/teams/team-details/page.tsx
  apps/web/modules/ee/teams/team-list/page.tsx
  apps/web/next.config.mjs
  apps/web/package.json
  packages/ee/.eslintrc.js
  packages/ee/package.json
  packages/ee/tsconfig.json
  packages/lib/package.json
  pnpm-lock.yaml
Labels: enhancement

#4308 chore: Billing to new module structure
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/billing/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/billing/page.tsx
  apps/web/app/(ee)/(billing)/environments/[environmentId]/layout.tsx
  apps/web/app/(ee)/(billing)/environments/[environmentId]/settings/(organization)/billing/layout.tsx
  apps/web/app/api/billing/stripe-webhook/route.ts
  apps/web/modules/ee/billing/actions.ts
  apps/web/modules/ee/billing/api/lib/checkout-session-completed.ts
  apps/web/modules/ee/billing/api/lib/constants.ts
  apps/web/modules/ee/billing/api/lib/create-customer-portal-session.ts
  apps/web/modules/ee/billing/api/lib/create-subscription.ts
  apps/web/modules/ee/billing/api/lib/invoice-finalized.ts
  apps/web/modules/ee/billing/api/lib/is-subscription-cancelled.ts
  apps/web/modules/ee/billing/api/lib/stripe-webhook.ts
  apps/web/modules/ee/billing/api/lib/subscription-created-or-updated.ts
  apps/web/modules/ee/billing/api/lib/subscription-deleted.ts
  apps/web/modules/ee/billing/api/route.ts
  apps/web/modules/ee/billing/components/billing-slider.tsx
  apps/web/modules/ee/billing/components/pricing-card.tsx
  apps/web/modules/ee/billing/components/pricing-table.tsx
  apps/web/modules/ee/billing/page.tsx
Labels: enhancement

#4320 chore: removed experience page
  apps/web/app/(app)/environments/[environmentId]/components/EnvironmentLayout.tsx
  apps/web/app/(app)/environments/[environmentId]/components/MainNavigation.tsx
  apps/web/app/(app)/environments/[environmentId]/experience/page.tsx
  apps/web/app/(app)/environments/[environmentId]/page.tsx
Labels: enhancement

#4247 feat: survey follow ups
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/actions.ts
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditEndingCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditorCardMenu.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/HiddenFieldsCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsStylingSettingsTabs.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionsView.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyEditor.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/lib/logicRuleEngine.ts
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/lib/user.ts
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/lib/utils.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/page.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/types/survey-follow-up.ts
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/lib/minimalSurvey.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/SurveyStatusDropdown.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/actions.ts
  apps/web/app/api/(internal)/pipeline/lib/survey-follow-up.ts
  apps/web/app/api/(internal)/pipeline/route.ts
  apps/web/app/api/v1/management/surveys/[surveyId]/route.ts
  apps/web/app/api/v1/management/surveys/route.ts
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/modules/ee/license-check/lib/utils.ts
  apps/web/modules/ee/survey-follow-ups/components/follow-up-action-multi-email-input.tsx
  apps/web/modules/ee/survey-follow-ups/components/follow-up-item.tsx
  apps/web/modules/ee/survey-follow-ups/components/follow-up-modal.tsx
  apps/web/modules/ee/survey-follow-ups/components/follow-ups-view.tsx
  apps/web/modules/email/emails/survey/follow-up.tsx
  apps/web/modules/email/index.tsx
  apps/web/modules/surveys/components/TemplateList/actions.ts
  packages/api/src/api/client/response.ts
  packages/database/json-types.ts
  packages/database/migrations/20241105074829_added_survey_follow_up/migration.sql
  packages/database/package.json
  packages/database/schema.prisma
  packages/database/types/survey-follow-up.ts
  packages/database/zod-utils.ts
  packages/lib/actionClient/permissions.ts
  packages/lib/messages/de-DE.json
  packages/lib/messages/en-US.json
  packages/lib/messages/pt-BR.json
  packages/lib/response/service.ts
  packages/lib/styling/constants.ts
  packages/lib/survey/service.ts
  packages/lib/survey/tests/__mock__/survey.mock.ts
  packages/surveys/src/components/general/Survey.tsx
  packages/types/package.json
  packages/types/responses.ts
  packages/types/surveys/types.ts
  packages/ui/components/ConfirmationModal/index.tsx
  packages/ui/components/Editor/components/Editor.tsx
  packages/ui/components/Editor/components/EditorContentChecker.tsx
  packages/ui/components/Editor/components/ToolbarPlugin.tsx
  packages/ui/components/Editor/stylesEditor.css
  packages/ui/components/Form/index.tsx
  packages/ui/components/ProBadge/index.tsx
  pnpm-lock.yaml
Labels: ❗️ migrations

#4330 fix: improved AI insights generation prompt
  apps/web/app/api/(internal)/insights/lib/document.ts
  apps/web/app/api/(internal)/pipeline/lib/documents.ts
Labels: bug

#4240 feat: created icon bar component in survey overview
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SurveyAnalysisCTA.tsx
  apps/web/modules/ui/components/button/index.tsx
  apps/web/modules/ui/components/iconbar/index.tsx
Labels: enhancement, 🕹️ oss.gg
