Repository formbricks/formbricks, pull requests merged in 2024-04, with the labels that each got.

#2078 feat: use redis for rate limiting & next caching to resolve memory issues
  .github/workflows/kamal.yml
  apps/web/app/api/internal/cache/client.ts
  apps/web/app/api/internal/cache/route.ts
  apps/web/app/middleware/rateLimit.ts
  apps/web/cache-handler.mjs
  apps/web/middleware.ts
  apps/web/next.config.mjs
  apps/web/package.json
  docker-compose.yml
  docker/docker-compose.yml
  kamal/deploy.yml
  packages/lib/constants.ts
  packages/lib/env.ts
  packages/lib/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: 👩‍💻 waiting for changes

#2379 fix: recall not working with prefilled answer
  packages/surveys/src/components/general/Survey.tsx
Labels: bug

#2262 feat: Branded Link Surveys
  apps/web/app/(app)/environments/[environmentId]/settings/components/SettingsCard.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/EditLogo.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/ThemeStyling.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/ThemeStylingPreviewSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/components/EditAvatar.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/BackgroundStylingCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/CardStylingSettings.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/StylingView.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  apps/web/app/lib/fileUpload.ts
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/app/s/[surveyId]/components/MediaBackground.tsx
  packages/database/migrations/20240404213707_add_logo/migration.sql
  packages/database/schema.prisma
  packages/lib/product/service.ts
  packages/surveys/src/components/general/Subheader.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/types/product.ts
  packages/types/styling.ts
  packages/ui/AdvancedOptionToggle/index.tsx
  packages/ui/Button/index.tsx
  packages/ui/ClientLogo/index.tsx
  packages/ui/Modal/index.tsx
Labels: enhancement, ❗️ migrations, 🕹️ oss.gg, 🕹️ 250 points

#2405 fix: curl example message for `update survey by id`
  apps/formbricks-com/app/docs/api/management/surveys/page.mdx
Labels: ready to merge

#2386 feat: add survey schedule option
  .github/workflows/cron-reportUsageToStripe.yml
  .github/workflows/cron-surveyStatusUpdate.yml
  .github/workflows/cron-weeklySummary.yml
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/SummaryHeader.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/SurveyStatusDropdown.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/ResponseOptionsCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  apps/web/app/api/cron/close_surveys/route.ts
  apps/web/app/api/cron/survey-status/route.ts
  apps/web/app/api/cron/weekly-summary/email.ts
  apps/web/app/api/cron/weekly-summary/route.ts
  apps/web/app/api/cron/weekly-summary/types.ts
  apps/web/app/s/[surveyId]/components/SurveyInactive.tsx
  apps/web/vercel.json
  docker/cronjobs
  packages/database/migrations/20240403141559_add_run_on_date_to_survey/migration.sql
  packages/database/schema.prisma
  packages/lib/i18n/i18n.mock.ts
  packages/lib/styling/constants.ts
  packages/lib/survey/service.ts
  packages/lib/survey/tests/__mock__/survey.mock.ts
  packages/lib/survey/util.ts
  packages/types/surveys.ts
  packages/ui/DatePicker/index.tsx
  packages/ui/SurveyStatusIndicator/index.tsx
  packages/ui/SurveysList/components/SurveyCard.tsx
  packages/ui/SurveysList/components/SurveyFilters.tsx
Labels: ❗️ migrations, 🙋‍♀️ to be reviewed

#2374 fix: e2e tests, make welcomeCard.headline optional, remove console logs
  .github/actions/cache-build-web/action.yml
  apps/web/playwright/js.spec.ts
  apps/web/playwright/onboarding.spec.ts
  apps/web/playwright/survey.spec.ts
  apps/web/playwright/utils/helper.ts
  apps/web/playwright/utils/mock.ts
  packages/js-core/index.html
  packages/js-core/src/index.ts
  packages/lib/i18n/reverseTranslation.ts
  packages/types/surveys.ts
  playwright.config.ts
Labels: ready to merge

#2174 fix: Preview for short urls
  apps/web/app/[shortUrlId]/page.tsx
  apps/web/app/s/[surveyId]/metadata.ts
  apps/web/app/s/[surveyId]/page.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 250 points

#2361 chore: Simpler Sharing Page [Concept]
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/components/SurveyResultsTabs.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTimeline.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/CustomFilter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/ResultsShareButton.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/SummaryHeader.tsx
  apps/web/app/share/[sharingKey]/(analysis)/components/SurveyResultsTabs.tsx
  apps/web/app/share/[sharingKey]/(analysis)/responses/actions.ts
  apps/web/app/share/[sharingKey]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/share/[sharingKey]/(analysis)/responses/components/ResponseTimeline.tsx
  apps/web/app/share/[sharingKey]/(analysis)/responses/page.tsx
  apps/web/app/share/[sharingKey]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/share/[sharingKey]/(analysis)/summary/page.tsx
  apps/web/app/share/[sharingKey]/components/CustomFilter.tsx
  apps/web/app/share/[sharingKey]/components/SummaryHeader.tsx
Labels: 👩‍💻 waiting for changes

#2372 fix: Unsaved Changes Confirm even though changes were saved
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyEditor.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
Labels: bug, 👩‍💻 waiting for changes

#2363 feat: Add response filtering for meta data
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/CustomFilter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/QuestionFilterComboBox.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/QuestionsComboBox.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/ResponseFilter.tsx
  apps/web/app/lib/surveys/surveys.ts
  apps/web/app/share/[sharingKey]/(analysis)/responses/page.tsx
  apps/web/app/share/[sharingKey]/(analysis)/summary/page.tsx
  apps/web/app/share/[sharingKey]/action.ts
  packages/lib/response/service.ts
  packages/lib/response/util.ts
  packages/types/responses.ts
  packages/ui/Command/index.tsx
Labels: enhancement, 👩‍💻 waiting for changes

#2417 fix: Implement validation to remove cyclic logic
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/lib/validation.ts
Labels: bug

#2426 feat: shared cache for next caching
  .env.example
  apps/web/app/api/internal/cache/client.ts
  apps/web/app/api/internal/cache/route.ts
  apps/web/app/middleware/rateLimit.ts
  apps/web/cache-handler.mjs
  docker-compose.yml
  docker/docker-compose.yml
  kamal/deploy.yml
  packages/lib/constants.ts
  packages/lib/env.ts
  turbo.json
Labels: ❗️ .env changes

#2427 fix: OpenTextSummary no longer has "Show more" button
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/AddressSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/DateQuestionSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/FileUploadSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/HiddenFieldsSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/OpenTextSummary.tsx
  packages/lib/response/util.ts
  packages/surveys/src/components/general/CalEmbed.tsx
  packages/surveys/src/components/general/FileInput.tsx
  packages/surveys/src/components/general/ThankYouCard.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
Labels: bug

#2442 chore: simplify action indexes
  packages/database/migrations/20240413092848_simplify_action_indexes/migration.sql
  packages/database/schema.prisma
Labels: ❗️ migrations

#2448 docs: fix S3_BUCKET_NAME env var in docs
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
Labels: bug

#2458 fix: single select logic issue
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/MultipleChoiceSingleForm.tsx
  packages/types/surveys.ts
Labels: 🙋‍♀️ to be reviewed

#2461 fix: single survey card rerenders on tag add or delete
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/CustomFilter.tsx
  apps/web/app/s/[surveyId]/lib/prefilling.ts
Labels: bug

#2445 fix: Pass only supported properties of `account` to `CreateAccount`
  packages/lib/account/service.ts
  packages/lib/account/utils.ts
Labels: bug

#2436 fix: overlay & close on click outside to work in survey preview
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/EditPlacement.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/ThemeStylingPreviewSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/Placement.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/Modal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
Labels: bug

#2424 feat: Ability to invite team members in bulk
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/actions/components/ActionDetailModal.tsx
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/attributes/components/AttributeDetailModal.tsx
  apps/web/app/(app)/environments/[environmentId]/(peopleAndSegments)/segments/components/EditSegmentModal.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/components/WebhookDetailModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/AddMemberModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/BulkInviteTab.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/EditMemberships/TeamActions.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/EditTeamName.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/IndividualInviteTab.tsx
  apps/web/package.json
  apps/web/public/sample-csv/formbricks-team-members-template.csv
  packages/types/integration/airtable.ts
  packages/types/integration/googleSheet.ts
  packages/types/integration/notion.ts
  packages/types/invites.ts
  packages/types/memberships.ts
  packages/types/user.ts
  packages/ui/ModalWithTabs/index.tsx
  pnpm-lock.yaml
Labels: enhancement, 🙋‍♀️ to be reviewed

#2454 feat: added logic to show tags for viewer role
  packages/ui/SingleResponseCard/components/ResponseTagsWrapper.tsx
  packages/ui/SingleResponseCard/index.tsx
  packages/ui/Tag/index.tsx
Labels: enhancement

#2506 docs: Missing new line in management API docs
  apps/formbricks-com/app/docs/api/management/api-key-setup/page.mdx
Labels: bug, good first issue, Docs, 🕹️ oss.gg, 🕹️ 50 points

#2504 fix: picture select grow icon opacity issue
  packages/surveys/src/components/questions/PictureSelectionQuestion.tsx
Labels: 🙋‍♀️ to be reviewed

#2488 chore: Adds save button to question Id input and refactored survey saving/publishing logic
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/UpdateQuestionId.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/lib/validation.ts
  apps/web/playwright/onboarding.spec.ts
  packages/lib/survey/service.ts
Labels: ready to merge

#2520 fix: adds loader in the thankyou card while response submission
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditThankYouCard.tsx
  apps/web/playwright/survey.spec.ts
  apps/web/playwright/utils/helper.ts
  packages/surveys/src/components/general/ThankYouCard.tsx
Labels: 🙋‍♀️ to be reviewed

#2493 chore: Link survey mobile view
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/SurveyInline.tsx
  packages/ui/ClientLogo/index.tsx
  packages/ui/Survey/index.tsx
Labels: 🙋‍♀️ to be reviewed

#2477 fix: Max height
  apps/web/app/(app)/environments/[environmentId]/surveys/components/Modal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  apps/web/app/globals.css
  apps/web/app/s/[surveyId]/components/MediaBackground.tsx
  apps/web/playwright/js.spec.ts
  packages/surveys/src/components/general/FormbricksBranding.tsx
  packages/surveys/src/components/general/HtmlBody.tsx
  packages/surveys/src/components/general/Subheader.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/SurveyInline.tsx
  packages/surveys/src/components/general/ThankYouCard.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
  packages/surveys/src/components/questions/AddressQuestion.tsx
  packages/surveys/src/components/questions/CTAQuestion.tsx
  packages/surveys/src/components/questions/CalQuestion.tsx
  packages/surveys/src/components/questions/ConsentQuestion.tsx
  packages/surveys/src/components/questions/DateQuestion.tsx
  packages/surveys/src/components/questions/FileUploadQuestion.tsx
  packages/surveys/src/components/questions/MatrixQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/questions/NPSQuestion.tsx
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
  packages/surveys/src/components/questions/PictureSelectionQuestion.tsx
  packages/surveys/src/components/questions/RatingQuestion.tsx
  packages/surveys/src/components/wrappers/ScrollableContainer.tsx
  packages/surveys/src/sideload/question-date/Question.tsx
  packages/surveys/src/sideload/question-date/index.tsx
  packages/surveys/src/styles/global.css
Labels: 🙋‍♀️ to be reviewed

#2457 fix: Call-to-Action statistics do not work as expected
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/CTASummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/QuestionSummaryHeader.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryDropOffs.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryMetadata.tsx
  apps/web/playwright/js.spec.ts
  packages/lib/response/service.ts
  packages/lib/response/tests/__mocks__/data.mock.ts
  packages/lib/response/util.ts
  packages/types/surveys.ts
Labels: bug, 👩‍💻 waiting for changes

#2349 chore: Transactional emails to React email
  apps/web/app/(app)/environments/[environmentId]/settings/members/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/EditMemberships/MemberActions.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/lib/emailTemplate.tsx
  apps/web/app/(app)/onboarding/actions.ts
  apps/web/app/(auth)/invite/page.tsx
  apps/web/app/api/cron/weekly-summary/email.ts
  apps/web/app/api/cron/weekly-summary/route.ts
  apps/web/app/api/cron/weekly-summary/types.ts
  apps/web/app/api/pipeline/route.ts
  apps/web/app/api/v1/users/forgot-password/route.ts
  apps/web/app/api/v1/users/reset-password/route.ts
  apps/web/app/api/v1/users/route.ts
  apps/web/app/api/v1/users/verification-email/route.ts
  apps/web/app/s/[surveyId]/actions.ts
  apps/web/package.json
  packages/email/components/auth/ForgotPasswordEmail.tsx
  packages/email/components/auth/PasswordResetNotifyEmail.tsx
  packages/email/components/auth/VerificationEmail.tsx
  packages/email/components/general/EmailButton.tsx
  packages/email/components/general/EmailFooter.tsx
  packages/email/components/general/EmailTemplate.tsx
  packages/email/components/invite/InviteAcceptedEmail.tsx
  packages/email/components/invite/InviteEmail.tsx
  packages/email/components/invite/OnboardingInviteEmail.tsx
  packages/email/components/survey/EmbedSurveyPreviewEmail.tsx
  packages/email/components/survey/LinkSurveyEmail.tsx
  packages/email/components/survey/PreviewEmailTemplste.tsx
  packages/email/components/survey/ResponseFinishedEmail.tsx
  packages/email/components/weekly-summary/CreateReminderNotificationBody.tsx
  packages/email/components/weekly-summary/LiveSurveyNotification.tsx
  packages/email/components/weekly-summary/NoLiveSurveyNotificationEmail.tsx
  packages/email/components/weekly-summary/NotificationFooter.tsx
  packages/email/components/weekly-summary/NotificationHeader.tsx
  packages/email/components/weekly-summary/NotificationInsight.tsx
  packages/email/components/weekly-summary/WeeklySummaryNotificationEmail.tsx
  packages/email/index.tsx
  packages/email/package.json
  packages/lib/emails/email-template.ts
  packages/lib/emails/emails.ts
  packages/lib/invite/service.ts
  packages/lib/package.json
  packages/lib/responses.ts
  packages/surveys/src/components/general/FileInput.tsx
  packages/surveys/src/components/general/QuestionMedia.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
  packages/surveys/src/components/wrappers/Modal.tsx
  packages/surveys/src/sideload/question-date/Question.tsx
  packages/types/surveys.ts
  packages/types/weeklySummary.ts
  packages/ui/FileUploadResponse/index.tsx
  pnpm-lock.yaml
Labels: 🙋‍♀️ to be reviewed

#2513 fix: Fix S3 credential checks
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
  packages/lib/constants.ts
  packages/lib/env.ts
  turbo.json
Labels: bug

#2536 docs: improve google sheet integration self hosting guide
  apps/formbricks-com/app/docs/integrations/airtable/page.mdx
  apps/formbricks-com/app/docs/integrations/google-sheets/page.mdx
  apps/formbricks-com/app/docs/integrations/notion/page.mdx
  apps/formbricks-com/app/docs/integrations/slack/page.mdx
Labels: ready to merge

#2532 docs: add email embedding of link surveys
  apps/formbricks-com/app/docs/link-surveys/embed-in-email/email-content-with-survey.webp
  apps/formbricks-com/app/docs/link-surveys/embed-in-email/email-content-without-survey.webp
  apps/formbricks-com/app/docs/link-surveys/embed-in-email/jo-signature.webp
  apps/formbricks-com/app/docs/link-surveys/embed-in-email/page.mdx
  apps/formbricks-com/app/docs/link-surveys/embed-in-email/plugin-add-survey.webp
  apps/formbricks-com/app/docs/link-surveys/embed-in-email/plugin-source-tab.webp
  apps/formbricks-com/components/docs/Navigation.tsx
Labels: ready to merge

#2548 fix: Note formatting in Link Survey Data Prefilling
  apps/formbricks-com/app/docs/link-surveys/data-prefilling/page.mdx
Labels: bug, good first issue, Docs, 🕹️ oss.gg, 🕹️ 50 points

#2514 feat: Keyboard usability for matrix and date question
  packages/surveys/src/components/general/FileInput.tsx
  packages/surveys/src/components/questions/AddressQuestion.tsx
  packages/surveys/src/components/questions/DateQuestion.tsx
  packages/surveys/src/components/questions/MatrixQuestion.tsx
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
  packages/surveys/src/sideload/question-date/Question.tsx
  packages/surveys/src/sideload/question-date/styles/globals.css
Labels: ready to merge

#2482 feat: Enable Prefilling of several values
  apps/formbricks-com/app/docs/link-surveys/data-prefilling/page.mdx
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  apps/web/app/s/[surveyId]/components/PinScreen.tsx
  apps/web/app/s/[surveyId]/lib/prefilling.ts
  apps/web/app/s/[surveyId]/page.tsx
  packages/ee/multiLanguage/components/LanguageSelect.tsx
  packages/surveys/src/components/general/Survey.tsx
Labels: ready to merge

#2546 fix: tweak saving UI
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
  apps/web/playwright/onboarding.spec.ts
Labels: 🙋‍♀️ to be reviewed

#2551 fix: Matrix Validation UX
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/MatrixQuestionForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/lib/validation.ts
Labels: 🙋‍♀️ to be reviewed

#2537 fix: restored Add logo button
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/EditLogo.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/components/ThemeStylingPreviewSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  packages/ui/ClientLogo/index.tsx
Labels: 🙋‍♀️ to be reviewed

#2550 chore: removes date picker question code from sideloading
  packages/surveys/src/components/questions/DateQuestion.tsx
  packages/surveys/src/lib/styles.ts
  packages/surveys/src/sideload/question-date/Question.tsx
  packages/surveys/src/sideload/question-date/index.tsx
  packages/surveys/src/styles/date-picker.css
  packages/surveys/src/styles/global.css
Labels: 🙋‍♀️ to be reviewed

#2558 chore: replace img with next Image
  apps/web/app/s/[surveyId]/components/MediaBackground.tsx
Labels: 🙋‍♀️ to be reviewed
