Repository formbricks/formbricks, pull requests merged in 2024-02, with the labels that each got.

#2007 fix: create survey API expects creator
  apps/web/app/(app)/environments/[environmentId]/surveys/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/components/SurveyStarter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/TemplateList.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/actions.ts
  packages/database/migrations/20240204084813_remove_creator_cascade_delete_in_survey/migration.sql
  packages/database/schema.prisma
  packages/lib/survey/service.ts
  packages/types/surveys.ts
Labels: ❗️ migrations

#2022 fix: deleted responses still show in API
  packages/lib/response/service.ts
Labels: bug

#2014 feat: send free limit reached to PostHog
  apps/web/app/api/v1/client/[environmentId]/in-app/sync/[userId]/route.ts
  apps/web/app/api/v1/client/[environmentId]/in-app/sync/lib/posthog.ts
  apps/web/app/api/v1/client/[environmentId]/in-app/sync/route.ts
Labels: 👩‍💻 waiting for changes

#2015 feat: Introduce Dynamic Pixel Server for Seamless Self-Hosting
  apps/web/app/api/js/route.tsx
Labels: 🙋‍♀️ to be reviewed

#1997 chore: remove *_auth_enabled env variables
  .env.example
  apps/formbricks-com/app/docs/self-hosting/docker/page.mdx
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
  apps/formbricks-com/pages/blog/understanding-formbricks-self-hosting/index.mdx
  docker-compose.yml
  docker/docker-compose.yml
  packages/lib/constants.ts
  packages/lib/env.mjs
  turbo.json
Labels: ❗️ .env changes, 🏁 wait for release

#2052 chore: "include one of" option for single select
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/LogicEditor.tsx
  packages/surveys/src/lib/logicEvaluator.ts
Labels: enhancement

#2050 fix: team issues
  packages/lib/invite/service.ts
  packages/lib/user/service.ts
Labels: bug

#2051 fix: open text question validation issue
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/QuestionCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
Labels: bug, 🙋🏻‍♂️help wanted

#1993 feat: Added the ability to remove the login via email button
  .env.example
  apps/formbricks-com/app/docs/self-hosting/docker/page.mdx
  apps/formbricks-com/app/docs/self-hosting/migration-guide/page.mdx
  apps/web/app/(auth)/auth/login/components/SigninForm.tsx
  apps/web/app/(auth)/auth/login/page.tsx
  apps/web/app/(auth)/auth/signup/components/SignupForm.tsx
  apps/web/app/(auth)/auth/signup/page.tsx
  apps/web/app/api/v1/users/route.ts
  docker-compose.yml
  docker/docker-compose.yml
  packages/lib/constants.ts
  packages/lib/env.mjs
  turbo.json
Labels: ❗️ .env changes, 🙋‍♀️ to be reviewed, 🏁 wait for release

#2063 feat: add go to dashboard button in error modal
  apps/web/app/error.tsx
  apps/web/app/page.tsx
Labels: bug

#2075 fix: Add missing space to .env.example
  .env.example
Labels: ❗️ .env changes

#2011 feat: add caching to survey sync
  apps/web/app/api/v1/client/[environmentId]/in-app/sync/route.ts
  apps/web/app/lib/api/response.ts
Labels: 🙋‍♀️ to be reviewed

#2091 feat: add RATE_LIMITING_DISABLED env var to bypass rate limiting
  .env.example
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
  apps/web/middleware.ts
  packages/lib/constants.ts
  packages/lib/env.mjs
Labels: ❗️ .env changes

#2084 fix: rewrite stripe + bug in unsubscribing
  apps/web/app/(app)/environments/[environmentId]/settings/billing/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/billing/components/PricingTable.tsx
  packages/ee/billing/handlers/subscriptionCreatedOrUpdated.ts
  packages/ui/PricingCard/index.tsx
Labels: 💬 discussion

#1844 feat: move response filtering server-side
  .devcontainer/devcontainer.json
  apps/web/app/(app)/environments/[environmentId]/(peopleAndSegments)/people/[personId]/components/ResponsesFeed.tsx
  apps/web/app/(app)/environments/[environmentId]/components/ResponseFilterContext.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTimeline.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/CustomFilter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/ResponseFilter.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/responses/page.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/summary/page.tsx
  apps/web/app/(app)/share/[sharingKey]/components/CustomFilter.tsx
  apps/web/app/lib/surveys/surveys.ts
  packages/lib/response/service.ts
  packages/lib/response/tests/__mocks__/data.mock.ts
  packages/lib/response/tests/response.unit.ts
  packages/lib/response/util.ts
  packages/lib/tsconfig.json
  packages/types/responses.ts
  packages/ui/SingleResponseCard/index.tsx
  packages/ui/tsconfig.json
Labels: 👩‍💻 waiting for changes

#2109 feat: custom OIDC providers
  .env.example
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
  apps/web/app/(auth)/auth/components/OpenIdButton.tsx
  apps/web/app/(auth)/auth/login/components/SigninForm.tsx
  apps/web/app/(auth)/auth/login/page.tsx
  apps/web/app/(auth)/auth/signup/components/SignupForm.tsx
  apps/web/app/(auth)/auth/signup/page.tsx
  packages/database/migrations/20240221093753_add_support_for_openid/migration.sql
  packages/database/schema.prisma
  packages/lib/authOptions.ts
  packages/lib/constants.ts
  packages/lib/env.mjs
  packages/types/user.ts
Labels: enhancement, 🙋🏻‍♂️help wanted, ❗️ migrations, ❗️ .env changes

#2110 feat: on the fly triggers
  .gitignore
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/actions/components/ActionSettingsTab.tsx
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/actions/components/AddActionModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/HowToSendCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/InlineTriggers.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/WhenToSendCard.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  apps/web/app/(auth)/auth/components/Testimonial.tsx
  apps/web/playwright/survey.spec.ts
  apps/web/playwright/utils/helper.ts
  apps/web/playwright/utils/mock.ts
  packages/database/jsonTypes.ts
  packages/database/migrations/20240223042852_adds_inline_trigger_to_survey_model/migration.sql
  packages/database/schema.prisma
  packages/database/zod-utils.ts
  packages/js/src/lib/actions.ts
  packages/js/src/lib/noCodeActions.ts
  packages/lib/survey/service.ts
  packages/lib/survey/tests/survey.mock.ts
  packages/lib/utils/datetime.ts
  packages/types/surveys.ts
  packages/ui/Actions/components/CssSelector.tsx
  packages/ui/Actions/components/InnerHtmlSelector.tsx
  packages/ui/Actions/components/PageUrlSelector.tsx
  packages/ui/Actions/index.tsx
  packages/ui/SurveysList/actions.ts
  packages/ui/TabBar/index.tsx
Labels: ❗️ migrations

#2096 fix: adds relative image url path for self hosters without s3
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditWelcomeCard.tsx
  apps/web/next.config.mjs
  packages/lib/storage/service.ts
  packages/lib/storage/utils.ts
  packages/types/user.ts
Labels: 💬 discussion

#2010 docs: add migration guide for v1.6
  .dockerignore
  apps/formbricks-com/app/docs/self-hosting/migration-guide/page.mdx
  apps/web/Dockerfile
  docker-compose.yml
  packages/database/migrations/20240207041922_advanced_targeting/data-migration.js
Labels: 🏁 wait for release

#2133 feat: custom S3 endpoint to use third party storage services
  .env.example
  packages/lib/constants.ts
  packages/lib/env.ts
  packages/lib/storage/service.ts
  turbo.json
Labels: ❗️ .env changes

#2113 fix: react console errors & warnings in dashboard & survey editor
  apps/web/app/(app)/environments/[environmentId]/surveys/components/Modal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  packages/ui/Input/index.tsx
  packages/ui/QuestionFormInput/index.tsx
  packages/ui/SurveysList/index.tsx
Labels: 🙋‍♀️ to be reviewed

#1979 fix: Check for complete submission before displaying CTA on Thank You…
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  packages/js/src/lib/widget.ts
  packages/lib/responseQueue.ts
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/SurveyModal.tsx
  packages/surveys/src/components/general/ThankYouCard.tsx
  packages/types/formbricksSurveys.ts
  packages/ui/Survey/index.tsx
Labels: 🙋‍♀️ to be reviewed

#2049 fix(S3): add support for custom endpoint
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
  apps/formbricks-com/pages/api/oss-friends/index.ts
  apps/web/app/health/page.tsx
  packages/lib/storage/service.ts
Labels: enhancement, 🙋🏻‍♂️help wanted

#2112 feat: identify teams & their billing in Posthog
  apps/web/app/(app)/environments/[environmentId]/components/PosthogIdentify.tsx
  apps/web/app/(app)/environments/[environmentId]/layout.tsx
  packages/types/teams.ts
Labels: 🙋‍♀️ to be reviewed

#2154 fix: update action indexes for faster query processing
  apps/web/app/api/v1/client/[environmentId]/in-app/sync/[userId]/route.ts
  packages/database/migrations/20240228180201_update_action_indexes/migration.sql
  packages/database/schema.prisma
  packages/lib/action/service.ts
  packages/lib/person/cache.ts
  packages/lib/person/service.ts
Labels: ❗️ migrations

#2073 feat: Onboarding revamp
  .devcontainer/devcontainer.json
  apps/formbricks-com/app/docs/getting-started/framework-guides/page.mdx
  apps/web/app/(app)/environments/[environmentId]/components/AddProductModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/components/DeleteAccount.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/components/SurveyStarter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  apps/web/app/(app)/onboarding/actions.ts
  apps/web/app/(app)/onboarding/components/Greeting.tsx
  apps/web/app/(app)/onboarding/components/Objective.tsx
  apps/web/app/(app)/onboarding/components/Onboarding.tsx
  apps/web/app/(app)/onboarding/components/OnboardingTitle.tsx
  apps/web/app/(app)/onboarding/components/PathwaySelect.tsx
  apps/web/app/(app)/onboarding/components/Product.tsx
  apps/web/app/(app)/onboarding/components/ProgressBar.tsx
  apps/web/app/(app)/onboarding/components/Role.tsx
  apps/web/app/(app)/onboarding/components/inapp/ConnectWithFormbricks.tsx
  apps/web/app/(app)/onboarding/components/inapp/InviteTeamMate.tsx
  apps/web/app/(app)/onboarding/components/inapp/SetupInstructions.tsx
  apps/web/app/(app)/onboarding/components/inapp/SurveyObjective.tsx
  apps/web/app/(app)/onboarding/components/inapp/SurveyRole.tsx
  apps/web/app/(app)/onboarding/components/link/CreateFirstSurvey.tsx
  apps/web/app/(app)/onboarding/components/onboarding.tsx
  apps/web/app/(app)/onboarding/layout.tsx
  apps/web/app/(app)/onboarding/loading.tsx
  apps/web/app/(app)/onboarding/page.tsx
  apps/web/app/(app)/onboarding/utils.ts
  apps/web/app/api/v1/client/[environmentId]/in-app/sync/route.ts
  apps/web/app/lib/questions.ts
  apps/web/app/s/[surveyId]/components/MediaBackground.tsx
  apps/web/images/onboarding-churn.png
  apps/web/images/onboarding-collect-feedback.png
  apps/web/images/onboarding-dance.gif
  apps/web/images/onboarding-in-app-survey.png
  apps/web/images/onboarding-link-survey.webp
  apps/web/images/onboarding-lost.gif
  apps/web/images/onboarding-nps.png
  apps/web/playwright/action.spec.ts
  apps/web/playwright/js.spec.ts
  apps/web/playwright/onboarding.spec.ts
  apps/web/playwright/team.spec.ts
  apps/web/playwright/utils/helper.ts
  apps/web/playwright/utils/mock.ts
  apps/web/public/onboarding/meme.png
  apps/web/vercel.json
  packages/lib/emails/emails.ts
  packages/lib/invite/service.ts
  packages/lib/survey/service.ts
  packages/lib/survey/tests/survey.test.ts
  packages/lib/tsconfig.json
  packages/lib/user/service.ts
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/ThankYouCard.tsx
  packages/tailwind-config/tailwind.config.js
  packages/types/surveys.ts
  packages/ui/CodeBlock/index.tsx
  packages/ui/CodeBlock/style.css
  packages/ui/OptionCard/index.tsx
  packages/ui/ProgressBar/index.tsx
  packages/ui/SurveysList/index.tsx
  packages/ui/tsconfig.json
Labels: 🙋‍♀️ to be reviewed
