Repository formbricks/formbricks, pull requests merged in 2024-10, with the labels that each got.

#3236 fix: remove scrollbar in rich text editor
  packages/ui/components/Editor/stylesEditor.css
Labels: enhancement, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3241 fix: dark mode in demo apps #3209
  apps/demo/pages/app/index.tsx
  apps/demo/pages/website/index.tsx
Labels: bug, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3237 fix: added brand color to loader #3205
  apps/demo/next-env.d.ts
  apps/web/next-env.d.ts
  packages/surveys/src/components/general/LoadingSpinner.tsx
Labels: bug, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3240 fix: toast Message while creating the survey
  apps/demo/next-env.d.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SuccessMessage.tsx
Labels: bug, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3106 chore: removes actions from the backend
  apps/docs/app/app-surveys/actions/page.mdx
  apps/docs/app/app-surveys/advanced-targeting/page.mdx
  apps/docs/app/best-practices/pmf-survey/page.mdx
  apps/docs/app/developer-docs/rest-api/page.mdx
  apps/docs/app/website-surveys/actions/images/StepOne.webp
  apps/docs/app/website-surveys/actions/images/StepTwo.webp
  apps/docs/app/website-surveys/actions/page.mdx
  apps/docs/lib/navigation.ts
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SettingsView.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/components/EditSegmentModal.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/components/SegmentTable.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/components/SegmentTableDataRow.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/components/SegmentTableDataRowContainer.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/segments/page.tsx
  apps/web/app/api/v1/client/[environmentId]/app/people/[userId]/lib/personState.ts
  apps/web/app/api/v1/client/[environmentId]/app/people/[userId]/lib/segments.ts
  apps/web/app/api/v1/client/[environmentId]/app/sync/[userId]/route.ts
  packages/database/data-migrations/20240904091113_removed_actions_table/data-migration.ts
  packages/database/migrations/20240904091113_removed_actions_table/migration.sql
  packages/database/package.json
  packages/database/schema.prisma
  packages/ee/advanced-targeting/components/add-filter-modal.tsx
  packages/ee/advanced-targeting/components/advanced-targeting-card.tsx
  packages/ee/advanced-targeting/components/create-segment-modal.tsx
  packages/ee/advanced-targeting/components/segment-editor.tsx
  packages/ee/advanced-targeting/components/segment-filter.tsx
  packages/ee/advanced-targeting/components/segment-settings.tsx
  packages/lib/action/cache.ts
  packages/lib/action/service.ts
  packages/lib/action/utils.ts
  packages/lib/person/service.ts
  packages/lib/segment/service.ts
  packages/lib/segment/tests/__mocks__/segment.mock.ts
  packages/lib/segment/tests/segment.test.ts
  packages/lib/segment/utils.ts
  packages/lib/survey/service.ts
  packages/types/actions.ts
  packages/types/segment.ts
Labels: ❗️ migrations

#3253 fix: missing footer
  apps/web/app/s/[surveyId]/components/LegalFooter.tsx
Labels: bug

#3255 ossgg: Update 1-retweet-launch-tweet.md
  oss-gg/oss-gg-quests/1-retweet-launch-tweet.md
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 50 points, player submission

#3261 ossgg: tweet hunter
  oss-gg/oss-gg-quests/1-retweet-launch-tweet.md
Labels: hacktoberfest, hacktoberfest-accepted, 🕹️ oss.gg, 🕹️ 50 points

#3268 fix: Validate button link input to only accept URLs #3258
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/lib/validation.ts
  packages/types/surveys/types.ts
Labels: enhancement, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3271 fix: gitpod build error
  packages/types/surveys/types.ts
  packages/types/surveys/validation.ts
Labels: bug

#3267 ossgg: All three oss.gg sidequests
  oss-gg/oss-gg-quests/1-retweet-launch-tweet.md
  oss-gg/oss-gg-quests/2-engage-on-reddit.md
  oss-gg/oss-gg-quests/3-spread-the-word.md
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 300 points, player submission

#3265 docs: update page.mdx
  apps/docs/app/link-surveys/user-identification/page.mdx
Labels: 🕹️ oss.gg, 🕹️ 50 points

#3256 ossgg: update -brand with -brand-dark
  apps/docs/components/SideNavigation.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/DisableTwoFactorModal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EnableTwoFactorModal.tsx
  apps/web/app/(auth)/auth/forgot-password/components/PasswordResetForm/index.tsx
  apps/web/app/(auth)/auth/forgot-password/reset/components/ResetPasswordForm/index.tsx
  apps/web/app/(auth)/auth/login/components/SigninForm.tsx
  apps/web/app/(auth)/auth/login/components/TwoFactorBackup.tsx
  packages/ui/components/SignupOptions/index.tsx
  packages/ui/components/TemplateList/components/StartFromScratchTemplate.tsx
Labels: good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3280 fix: Add reference to the API in the Single Use Link docs #3257
  apps/docs/app/link-surveys/single-use-links/page.mdx
Labels: enhancement, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3278 fix: keyboard opening unexpectedly
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 50 points

#3283 fix: matrix survey sync issue
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/MatrixQuestionForm.tsx
Labels: bug

#3298 fix: update broken links in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: bug, 🕹️ oss.gg, 🕹️ 50 points

#3225 fix: Align the UI for the different survey states
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/SurveyStatusDropdown.tsx
Labels: enhancement, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3290 fix: rounded corners of NPS in email preview
  packages/email/components/survey/preview-email-template.tsx
Labels: bug, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3306 fix: Incorrect Error Toast for Ending Card
  packages/types/surveys/validation.ts
Labels: bug, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 50 points

#3289 fix: response delete tooltip cut off
  packages/ui/components/SingleResponseCard/components/SingleResponseCardHeader.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 50 points

#3313 chore: refactored ranking question
  packages/surveys/src/components/questions/RankingQuestion.tsx
Labels: bug

#3282 fix: removed the tabs border
  packages/ui/components/TabBar/index.tsx
Labels: enhancement, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 50 points

#3340 fix: unified capitalisation of settings cards
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/app-connection/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/app-connection/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/languages/page.tsx
Labels: enhancement, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3349 fix: add discord icon in organisation tab sub menu
  apps/web/app/(app)/environments/[environmentId]/components/MainNavigation.tsx
  apps/web/package.json
  pnpm-lock.yaml
Labels: bug, hacktoberfest, 🕹️ oss.gg, 🕹️ 50 points

#3328 fix: autofocus and keyboard navigation issues
  apps/web/app/s/[surveyId]/components/LegalFooter.tsx
  packages/surveys/src/components/general/EndingCard.tsx
  packages/surveys/src/components/general/Input.tsx
  packages/surveys/src/components/general/QuestionConditional.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
  packages/surveys/src/components/questions/AddressQuestion.tsx
  packages/surveys/src/components/questions/CTAQuestion.tsx
  packages/surveys/src/components/questions/CalQuestion.tsx
  packages/surveys/src/components/questions/ConsentQuestion.tsx
  packages/surveys/src/components/questions/ContactInfoQuestion.tsx
  packages/surveys/src/components/questions/DateQuestion.tsx
  packages/surveys/src/components/questions/FileUploadQuestion.tsx
  packages/surveys/src/components/questions/MatrixQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/questions/NPSQuestion.tsx
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
  packages/surveys/src/components/questions/PictureSelectionQuestion.tsx
  packages/surveys/src/components/questions/RankingQuestion.tsx
  packages/surveys/src/components/questions/RatingQuestion.tsx
Labels: bug

#3343 fix: broken redirect links in `developer-docs/contributing`
  apps/docs/app/developer-docs/contributing/get-started/page.mdx
  apps/docs/app/developer-docs/overview/page.mdx
Labels: 🕹️ oss.gg, 🕹️ 150 points

#3262 feat: product configuration pages loading skeletons
  apps/web/app/(app)/components/LoadingCard.tsx
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/app-connection/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/app-connection/page.tsx
  apps/web/app/(app)/environments/[environmentId]/product/api-keys/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/product/components/ProductConfigNavigation.tsx
  apps/web/app/(app)/environments/[environmentId]/product/general/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/product/languages/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/product/look/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/product/tags/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/components/AccountSettingsNavbar.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/notifications/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/components/OrganizationSettingsNavbar.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/enterprise/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/members/loading.tsx
  apps/web/app/(ee)/environments/[environmentId]/settings/(organization)/billing/loading.tsx
  packages/ee/multi-language/components/edit-language.tsx
  packages/ee/multi-language/components/language-labels.tsx
Labels: enhancement, hacktoberfest, 🕹️ oss.gg, 🕹️ 750 points

#3337 fix: Make js assets cachable
  .gitignore
  apps/docs/app/app-surveys/framework-guides/page.mdx
  apps/web/app/(app)/(onboarding)/environments/[environmentId]/connect/components/OnboardingSetupInstructions.tsx
  apps/web/app/(app)/environments/[environmentId]/product/(setup)/components/SetupInstructions.tsx
  apps/web/app/api/js/route.ts
  apps/web/app/api/packages/[package]/route.ts
  apps/web/next.config.mjs
  packages/copyCompiledAssetsPlugin/vite.config.ts
  packages/js-core/src/lib/personState.ts
  packages/js-core/src/lib/widget.ts
  packages/js-core/vite.config.ts
  packages/js/index.html
  packages/js/package.json
  packages/js/src/lib/load-formbricks.ts
  packages/react-native/src/survey-web-view.tsx
  packages/surveys/vite.config.ts
  packages/ui/components/Survey/index.tsx
Labels: bug

#3341 fix: wrong tooltip in survey copy form
  apps/web/app/(app)/environments/[environmentId]/surveys/components/CopySurveyForm.tsx
Labels: bug, hacktoberfest, 🕹️ oss.gg, 🕹️ 50 points

#3346 fix: typo in padding class name
  packages/surveys/src/components/general/ResponseErrorComponent.tsx
Labels: bug, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 50 points

#3355 fix: Fixes issue where attempting to signin with google OAuth throws a "user exists" error instead of logging in
  packages/lib/authOptions.ts
Labels: bug, hacktoberfest, 🕹️ oss.gg

#3330 fix: load the script via src vs inline
  packages/js/src/lib/load-formbricks.ts
Labels: enhancement

#3501 fix: username overflow issue
  apps/web/app/(app)/environments/[environmentId]/surveys/components/SurveyCard.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 150 points

#3483 fix: Error when setting up project in GitHub Codespaces
  .devcontainer/devcontainer.json
Labels: bug, 🕹️ oss.gg, 🕹️ 150 points

#3506 fix: issue of triggering opening and closing question paper on clicking on submenu options
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditorCardMenu.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 150 points

#3488 fix: docs navigation dropdowns with the same title
  apps/docs/components/Navigation.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 300 points

#3551 fix: Moved Integrations in Formbricks Docs to Core Features
  apps/docs/lib/navigation.ts
Labels: 🕹️ oss.gg, 🕹️ 50 points

#3548 fix: Update docs link to point to the quickstart (3539)
  apps/web/app/(app)/environments/[environmentId]/integrations/page.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 50 points

#3547 fix: whitespace in status text should not break to next line
  apps/web/app/(app)/environments/[environmentId]/surveys/components/SurveyCard.tsx
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 50 points, player submission

#3703 fix: ui of create new survey trigger
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/CreateNewActionTab.tsx
  packages/ui/components/Modal/index.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 50 points

#3722 fix: a11y contrast issues
  apps/web/app/s/[surveyId]/components/LegalFooter.tsx
  packages/surveys/src/styles/global.css
Labels: bug, 🕹️ oss.gg, 🕹️ 50 points

#3558 docs: added contact form article
  apps/docs/app/best-practices/contact-form/images/add-question.webp
  apps/docs/app/best-practices/contact-form/images/email-field.webp
  apps/docs/app/best-practices/contact-form/images/embed.png
  apps/docs/app/best-practices/contact-form/images/message-field.webp
  apps/docs/app/best-practices/contact-form/images/name-field.webp
  apps/docs/app/best-practices/contact-form/images/query-form.webp
  apps/docs/app/best-practices/contact-form/images/single-select-questionare.webp
  apps/docs/app/best-practices/contact-form/images/welcome1.webp
  apps/docs/app/best-practices/contact-form/page.mdx
  apps/docs/lib/navigation.ts
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 750 points, writing

#3272 feat: Add Embed </> options to Survey cta bar and minor changes
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareEmbedSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SurveyAnalysisCTA.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedModal/AppTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedModal/EmbedView.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedModal/PanelInfoView.tsx
Labels: enhancement, hacktoberfest, 🕹️ oss.gg, 🕹️ 300 points

#3292 feat: Add back to top button on survey summary
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ScrollToTop.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
Labels: enhancement, good first issue, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 150 points

#3356 feat: add descriptive for question types
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/AddQuestionButton.tsx
  packages/lib/utils/questions.tsx
Labels: enhancement, 🕹️ oss.gg, 🕹️ 300 points

#3459 fix: navigation active link issue
  apps/docs/app/global/access-roles/page.mdx
  apps/docs/components/Navigation.tsx
  apps/web/playwright/organization.spec.ts
Labels: hacktoberfest, hacktoberfest-accepted, 🕹️ oss.gg

#3333 feat: standardize menu ui
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/AddEndingCardButton.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/AddQuestionButton.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/ConditionalLogic.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditWelcomeCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/EditorCardMenu.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/HiddenFieldsCard.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/LogicEditorActions.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/LogicEditorConditions.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyVariablesCard.tsx
  apps/web/app/(app)/environments/[environmentId]/components/MainNavigation.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/CustomFilter.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/ResultsShareButton.tsx
  apps/web/playwright/survey.spec.ts
  apps/web/playwright/utils/helper.ts
  packages/ee/advanced-targeting/components/segment-editor.tsx
  packages/ee/advanced-targeting/components/segment-filter.tsx
  packages/ee/multi-language/components/multi-language-card.tsx
  packages/ui/components/BasicSegmentEditor/components/SegmentFilterItemContextMenu.tsx
  packages/ui/components/DataTable/components/ColumnSettingsDropdown.tsx
  packages/ui/components/DropdownMenu/index.tsx
  packages/ui/components/Editor/components/AddVariablesDropdown.tsx
  packages/ui/components/Editor/components/ToolbarPlugin.tsx
  packages/ui/components/QuestionFormInput/components/RecallItemSelect.tsx
Labels: enhancement, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 300 points

#3737 fix: preview mode change
  packages/ui/components/PreviewSurvey/index.tsx
Labels: bug, hacktoberfest, 🕹️ oss.gg, player submission

#3795 fix(button): change loader color of secondary button to dark:text-slate-900
  packages/ui/components/Button/index.tsx
Labels: bug, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3732 docs: Question type pages Addition On documentation
  apps/docs/app/global/question-type/address/images/address.webp
  apps/docs/app/global/question-type/address/page.mdx
  apps/docs/app/global/question-type/consent/images/consent.webp
  apps/docs/app/global/question-type/consent/page.mdx
  apps/docs/app/global/question-type/contact/images/contact.webp
  apps/docs/app/global/question-type/contact/page.mdx
  apps/docs/app/global/question-type/date/images/date.webp
  apps/docs/app/global/question-type/date/page.mdx
  apps/docs/app/global/question-type/file-upload/images/file-upload.webp
  apps/docs/app/global/question-type/file-upload/page.mdx
  apps/docs/app/global/question-type/free-text/images/free-text.webp
  apps/docs/app/global/question-type/free-text/page.mdx
  apps/docs/app/global/question-type/matrix/images/matrix.webp
  apps/docs/app/global/question-type/matrix/page.mdx
  apps/docs/app/global/question-type/multi-select/images/multi-select.webp
  apps/docs/app/global/question-type/multi-select/page.mdx
  apps/docs/app/global/question-type/net-promoter-score/images/net-promoter-score.webp
  apps/docs/app/global/question-type/net-promoter-score/page.mdx
  apps/docs/app/global/question-type/picture-selection/images/picture-selection.webp
  apps/docs/app/global/question-type/picture-selection/page.mdx
  apps/docs/app/global/question-type/ranking/images/ranking.webp
  apps/docs/app/global/question-type/ranking/page.mdx
  apps/docs/app/global/question-type/rating/images/rating.webp
  apps/docs/app/global/question-type/rating/page.mdx
  apps/docs/app/global/question-type/schedule/images/schedule-call.webp
  apps/docs/app/global/question-type/schedule/page.mdx
  apps/docs/app/global/question-type/single-select/images/single-select.webp
  apps/docs/app/global/question-type/single-select/page.mdx
  apps/docs/app/global/question-type/statement-cta/images/statement-CTA.webp
  apps/docs/app/global/question-type/statement-cta/page.mdx
  apps/docs/components/SurveyEmbed.tsx
  apps/docs/lib/navigation.ts
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/ConditionalLogic.tsx
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 750 points

#3866 docs: update page.mdx
  apps/docs/app/global/question-type/statement-cta/page.mdx
Labels: 🕹️ oss.gg, 🕹️ 150 points

#3937 feat: [🕹️] Design a background (600 Points) (Double for animated)
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/AnimatedSurveyBg.tsx
  apps/web/public/animated-bgs/4K/31_4k.mp4
  apps/web/public/animated-bgs/4K/32_4k.mp4
  apps/web/public/animated-bgs/4K/33_4k.mp4
  apps/web/public/animated-bgs/4K/34_4k.mp4
  apps/web/public/animated-bgs/4K/35_4k.mp4
  apps/web/public/animated-bgs/4K/36_4k.mp4
  apps/web/public/animated-bgs/4K/36_4l.mp4
  apps/web/public/animated-bgs/4K/37_4k.mp4
  apps/web/public/animated-bgs/4K/38_4k.mp4
  apps/web/public/animated-bgs/4K/39_4k.mp4
  apps/web/public/animated-bgs/Thumbnails/31_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/32_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/33_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/34_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/35_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/36_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/37_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/38_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/39_Thumb.mp4
Labels: hacktoberfest, hacktoberfest-accepted, 🕹️ oss.gg, 🕹️ 750 points

#3941 feat: setup node with .nvmrc
  .nvmrc
  apps/docs/app/developer-docs/contributing/get-started/page.mdx
Labels: 🕹️ oss.gg, 🕹️ 150 points

#4001 fix: update twitter icon to x
  apps/docs/components/icons/TwitterIcon.tsx
Labels: bug

#3995 docs: remove unnecessary Airtable environment var
  apps/docs/app/self-hosting/integrations/page.mdx
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3916 fix: add text-center to fix date picker date background on hover
  packages/ui/components/Calendar/index.tsx
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#3935 fix: handle incorrect 2FA OTP error
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EnableTwoFactorModal.tsx
Labels: bug

#3799 fix: button size in all modals to size "sm"
  packages/ui/components/Button/index.tsx
Labels: enhancement, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 300 points

#3879 feat: added windows bliss background
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/UnsplashImages.tsx
  apps/web/public/image-backgrounds/windows.webp
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 50 points, player submission

#4017 feat: oss.gg: add new background video
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/AnimatedSurveyBg.tsx
  apps/web/public/animated-bgs/4K/40_4k.mp4
  apps/web/public/animated-bgs/Thumbnails/40_Thumb.mp4
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 750 points

#4007 fix: added webhook url test for a valid URL
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/components/AddWebhookModal.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/components/WebhookSettingsTab.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/webhooks/lib/utils.ts
Labels: bug, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#4051 feat: oss.gg: add new background video
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/AnimatedSurveyBg.tsx
  apps/web/public/animated-bgs/4K/40_4k.mp4
  apps/web/public/animated-bgs/Thumbnails/41_Thumb.mp4
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 750 points

#4041 docs: add image or video to question
  apps/docs/app/global/add-image-or-video-question/images/add-image-or-video-to-question-image.webp
  apps/docs/app/global/add-image-or-video-question/images/add-image-or-video-to-question-video.webp
  apps/docs/app/global/add-image-or-video-question/images/add-image-or-video-to-question.webp
  apps/docs/app/global/add-image-or-video-question/page.mdx
  apps/docs/lib/navigation.ts
Labels: enhancement, good first issue, hacktoberfest, 🕹️ oss.gg, 🕹️ 300 points

#4034 fix: open specific nav group on docs page on first page load
  apps/docs/components/Navigation.tsx
Labels: 🕹️ oss.gg, 🕹️ 300 points

#4061 feat: Added longterm retention check in template
  packages/lib/templates.ts
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 300 points

#4110 fix: Fixed the animation bug on the site
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/AnimatedSurveyBg.tsx
  apps/web/public/animated-bgs/4K/36_4l.mp4
  apps/web/public/animated-bgs/4K/39_4k.mp4
  apps/web/public/animated-bgs/Thumbnails/39_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/40_Thumb.mp4
  apps/web/public/animated-bgs/Thumbnails/41_Thumb.mp4
Labels: 🕹️ oss.gg, 🕹️ 150 points

#4092 feat: career & professionl development survey
  packages/lib/templates.ts
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 150 points

#4018 feat: add 4 new survey templates
  packages/lib/templates.ts
  packages/types/templates.ts
  packages/ui/components/TemplateList/components/TemplateTags.tsx
  packages/ui/components/TemplateList/lib/utils.ts
Labels: hacktoberfest, 🕹️ oss.gg, 🕹️ 750 points

#3961 fix: mobile delay before showing survey doesn't work on react native
  packages/react-native/src/survey-web-view.tsx
Labels: 🕹️ oss.gg, 🕹️ 150 points

#3542 fix: shiki package update from version 0.14.7 to 1.22.0
  apps/docs/mdx/rehype.mjs
  apps/docs/package.json
  pnpm-lock.yaml
Labels: dependencies

#3382 fix: date picker ui-fix
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/ResponseOptionsCard.tsx
  packages/ui/components/DatePicker/index.tsx
  packages/ui/components/DatePicker/styles.css
Labels: enhancement, hacktoberfest, 🕹️ oss.gg, 🕹️ 300 points

#4180 docs: Add quiz guide in the docs
  apps/docs/app/best-practices/quiz-time/conditional-logic.webp
  apps/docs/app/best-practices/quiz-time/ending-logic.webp
  apps/docs/app/best-practices/quiz-time/page.mdx
  apps/docs/app/best-practices/quiz-time/pass-fail.webp
  apps/docs/app/best-practices/quiz-time/quiz.webp
  apps/docs/app/best-practices/quiz-time/score.webp
  apps/docs/app/best-practices/quiz-time/single-select.webp
  apps/docs/app/best-practices/quiz-time/when-then.webp
  apps/docs/lib/navigation.ts
Labels: hacktoberfest, 🕹️ oss.gg, player submission
