Repository formbricks/formbricks, pull requests merged in 2024-09, with the labels that each got.

#3063 fix: caching issue for resultShareKey
  packages/lib/survey/cache.ts
  packages/lib/survey/service.ts
Labels: bug

#3080 fix: NPS response exported as empty string
  apps/web/app/s/[surveyId]/components/SurveyLoadingAnimation.tsx
  packages/lib/responses.ts
Labels: bug, customer request

#3087 fix: hidden fields in data table
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseCardModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTable.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTableColumns.tsx
Labels: bug

#3094 fix: verified email to exports
  packages/lib/response/service.ts
  packages/lib/response/utils.ts
Labels: enhancement, community request

#3114 feat: delete uploaded files with response deletion
  packages/lib/response/service.ts
Labels: bug

#3125 fix: trigger
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyMenuBar.tsx
Labels: bug

#3130 fix: cuid validation 🚨
  packages/types/displays.ts
  packages/types/js.ts
  packages/types/storage.ts
Labels: bug

#3135 fix: Device Info Overflowing for Long URLs
  packages/ui/SingleResponseCard/components/SingleResponseCardHeader.tsx
Labels: bug

#3131 fix: notes not appearing
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseCardModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTable.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTableCell.tsx
  packages/ui/SingleResponseCard/index.tsx
Labels: bug, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 100 points, 🕹️ Level 2

#3146 fix: Added DialogTitle and DialogDescrtiption components to the dialog.
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareEmbedSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareSurveyResults.tsx
  packages/ui/Modal/index.tsx
  packages/ui/ShareSurveyLink/components/SurveyLinkDisplay.tsx
  packages/ui/SurveysList/components/CopySurveyForm.tsx
Labels: bug, 🙋🏻‍♂️help wanted, 🕹️ oss.gg, 🕹️ 50 points, 🕹️ Level 1

#3100 chore: Refactor display response relationship
  apps/docs/app/developer-docs/api-sdk/page.mdx
  apps/web/app/api/v1/client/[environmentId]/displays/[displayId]/route.ts
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  packages/api/README.md
  packages/api/src/api/client/display.ts
  packages/database/data-migrations/20240905120500_refactor_display_response_relationship/data-migration.ts
  packages/database/migrations/20240917112456_add_display_id_to_response/migration.sql
  packages/database/package.json
  packages/database/schema.prisma
  packages/js-core/src/app/lib/widget.ts
  packages/js-core/src/website/lib/widget.ts
  packages/lib/display/service.ts
  packages/lib/display/tests/display.test.ts
  packages/lib/response/service.ts
  packages/lib/responseQueue.ts
  packages/lib/survey/service.ts
  packages/lib/survey/tests/survey.test.ts
  packages/lib/surveyState.ts
  packages/react-native/src/survey-web-view.tsx
  packages/types/displays.ts
  packages/types/responses.ts
Labels: ❗️ migrations

#3167 fix: load more button applies filter
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/MultipleChoiceSummary.tsx
Labels: bug

#3169 feat: Search bar in persons table
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/surveys/templates/components/TemplateContainer.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/actions.ts
  apps/web/app/(app)/environments/[environmentId]/(people)/people/components/PersonDataView.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/components/PersonTable.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/components/PersonTableColumn.tsx
  apps/web/app/(app)/environments/[environmentId]/(people)/people/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTable.tsx
  packages/lib/constants.ts
  packages/lib/person/service.ts
  packages/types/common.ts
  packages/ui/components/DataTable/components/SelectionColumn.tsx
  packages/ui/components/HighlightedText/index.tsx
  packages/ui/components/SearchBar/index.tsx
  packages/ui/components/SearchBox/index.tsx
  packages/ui/components/SurveysList/components/SurveyFilters.tsx
Labels: enhancement, customer request

#3174 fix: 50% scroll
  apps/web/app/(app)/environments/[environmentId]/components/MainNavigation.tsx
  packages/js-core/src/app/lib/noCodeActions.ts
  packages/js-core/src/website/lib/noCodeActions.ts
Labels: bug
