Repository formbricks/formbricks, pull requests merged in 2024-01, with the labels that each got.

#1469 feat: added survey response sharing feature
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/LinkModalButton.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareSurveyResults.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/SummaryHeader.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/templates.ts
  apps/web/app/(app)/layout.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/components/SurveyResultsTabs.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/responses/actions.ts
  apps/web/app/(app)/share/[sharingKey]/(analysis)/responses/components/ResponseNote.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/responses/components/ResponseTimeline.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/responses/page.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/share/[sharingKey]/(analysis)/summary/page.tsx
  apps/web/app/(app)/share/[sharingKey]/action.ts
  apps/web/app/(app)/share/[sharingKey]/components/CustomFilter.tsx
  apps/web/app/(app)/share/[sharingKey]/components/SummaryHeader.tsx
  apps/web/app/(app)/share/[sharingKey]/layout.tsx
  apps/web/app/(app)/share/[sharingKey]/not-found.tsx
  apps/web/app/(app)/share/[sharingKey]/page.tsx
  apps/web/app/lib/surveys/surveys.ts
  apps/web/app/middleware/bucket.ts
  apps/web/app/middleware/endpointValidator.ts
  apps/web/middleware.ts
  packages/database/migrations/20240102132851_add_result_share_key_to_survey/migration.sql
  packages/database/schema.prisma
  packages/lib/constants.ts
  packages/lib/survey/service.ts
  packages/types/surveys.ts
  packages/ui/SingleResponseCard/index.tsx
Labels: ❗️ migrations, hacktoberfest, hacktoberfest-accepted, formtribe-2023

#1897 fix: warning for duplicate action name
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/actions/components/ActionClassesTable.tsx
  apps/web/app/(app)/environments/[environmentId]/(actionsAndAttributes)/actions/components/AddActionModal.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SettingsView.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/WhenToSendCard.tsx
Labels: bug

#1910 feat: Add "How to add people" to People View
  apps/web/app/(app)/environments/[environmentId]/components/HowToAddPeopleButton.tsx
  apps/web/app/(app)/environments/[environmentId]/people/loading.tsx
  apps/web/app/(app)/environments/[environmentId]/people/page.tsx
Labels: enhancement

#1918 fix: Add response api link to docs navbar
  apps/formbricks-com/components/docs/Navigation.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/billing/components/PricingTable.tsx
  packages/ui/PricingCard/index.tsx
Labels: bug

#1898 feat: /health endpoint
  apps/web/app/health/error.tsx
  apps/web/app/health/page.tsx
Labels: enhancement

#1140 feat: survey error modal/page
  apps/web/app/(app)/environments/[environmentId]/settings/lookandfeel/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/members/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/templates/TemplateContainer.tsx
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
  packages/js/src/lib/config.ts
  packages/js/src/lib/widget.ts
  packages/lib/actionClass/service.ts
  packages/lib/product/service.ts
  packages/lib/responseQueue.ts
  packages/lib/utils.ts
  packages/surveys/src/components/general/ResponseErrorComponent.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/SurveyInline.tsx
  packages/surveys/src/components/general/SurveyModal.tsx
  packages/surveys/src/index.ts
  packages/surveys/src/types/props.ts
  packages/types/product.ts
  packages/ui/Survey/index.tsx
Labels: enhancement, ❗️ migrations, hacktoberfest, formtribe-2023

#1925 feat: Create new team
  apps/web/app/(app)/create-first-team/components/CreateFirstTeam.tsx
  apps/web/app/(app)/create-first-team/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/components/DeleteTeam.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/members/page.tsx
  apps/web/app/page.tsx
Labels: bug

#1940 feat: lazy loading for @formbricks/surveys
  .github/workflows/build-web.yml
  .github/workflows/e2e.yml
  .github/workflows/playwright.yml
  .github/workflows/pr.yml
  apps/web/package.json
  apps/web/playwright/utils/helper.ts
  package.json
  packages/api/package.json
  packages/js/index.html
  packages/js/package.json
  packages/js/src/index.ts
  packages/js/src/lib/actions.ts
  packages/js/src/lib/widget.ts
  packages/js/src/vite-env.d.ts
  packages/js/vite.config.js
  packages/lib/actionClass/cache.ts
  packages/surveys/package.json
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/SurveyInline.tsx
  packages/surveys/src/components/general/SurveyModal.tsx
  packages/surveys/src/index.ts
  packages/types/formbricksSurveys.ts
  playwright.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: enhancement

#1971 feat: custom placeholder label for other option in single & multi select
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/MultipleChoiceMultiForm.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/MultipleChoiceSingleForm.tsx
  packages/surveys/src/components/questions/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/types/surveys.ts
Labels: enhancement, FAST TRACK 🔥
