Repository formbricks/formbricks, pull requests merged in 2024-03, with the labels that each got.

#2161 chore: improve person & attribute query performance
  packages/database/migrations/20240229141200_add_attribute_class_indexes/migration.sql
  packages/database/schema.prisma
  packages/lib/person/service.ts
Labels: ❗️ migrations

#2192 chore: improve db indexes with segmentId index
  packages/database/migrations/20240305135128_add_segment_id_index_to_surveys/migration.sql
  packages/database/schema.prisma
  packages/ee/advancedTargeting/lib/actions.ts
  packages/lib/segment/service.ts
  packages/lib/survey/service.ts
Labels: ❗️ migrations

#2160 feat: Move Response Summary Server-side
  apps/web/app/(app)/environments/[environmentId]/(peopleAndSegments)/people/[personId]/components/ResponsesFeed.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/data.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTimeline.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/CTASummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/CalSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ConsentSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/DateQuestionSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/FileUploadSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/HiddenFieldsSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/MultipleChoiceSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/NPSSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/OpenTextSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/PictureChoiceSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/RatingSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryDropOffs.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryList.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryMetadata.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/components/CustomFilter.tsx
  apps/web/app/lib/surveys/surveys.ts
  apps/web/app/share/[sharingKey]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/share/[sharingKey]/(analysis)/responses/components/ResponseTimeline.tsx
  apps/web/app/share/[sharingKey]/(analysis)/responses/page.tsx
  apps/web/app/share/[sharingKey]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/share/[sharingKey]/(analysis)/summary/page.tsx
  apps/web/app/share/[sharingKey]/action.ts
  apps/web/app/share/[sharingKey]/components/CustomFilter.tsx
  packages/lib/response/service.ts
  packages/lib/response/tests/__mocks__/data.mock.ts
  packages/lib/response/tests/response.test.ts
  packages/lib/response/util.ts
  packages/lib/utils/evaluateLogic.ts
  packages/types/responses.ts
  packages/ui/PictureSelectionResponse/index.tsx
  packages/ui/SingleResponseCard/index.tsx
Labels: 🙋‍♀️ to be reviewed

#2205 fix: download responses not working
  packages/lib/response/util.ts
  packages/types/responses.ts
  packages/ui/SingleResponseCard/index.tsx
Labels: bug

#2178 feat: kamal deployment integration
  .github/workflows/kamal.yml
  .kamal/hooks/post-deploy.sample
  .kamal/hooks/post-traefik-reboot.sample
  .kamal/hooks/pre-build.sample
  .kamal/hooks/pre-connect.sample
  .kamal/hooks/pre-deploy.sample
  .kamal/hooks/pre-traefik-reboot.sample
  apps/web/Dockerfile
  docker-compose.yml
  kamal/README.md
  kamal/deploy.yml
Labels: 💬 discussion

#2215 chore: dockerfile needs no internet access to run
  apps/formbricks-com/package.json
  apps/web/Dockerfile
  pnpm-lock.yaml
Labels: enhancement, 🙋🏻‍♂️help wanted

#2175 feat: Ability to startAt specific question
  apps/web/app/s/[surveyId]/components/LinkSurvey.tsx
Labels: enhancement, good first issue, 🕹️ oss.gg, 🕹️ 250 points

#2227 docs: azure sso integration
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
Labels: enhancement, Docs

#2220 fix: font usage in surveys package
  packages/surveys/src/styles/preflight.css
Labels: bug

#2216 fix: Autoclose issue
  apps/web/app/(app)/environments/[environmentId]/surveys/components/PreviewSurvey.tsx
  packages/surveys/src/components/general/AutoCloseProgressBar.tsx
  packages/surveys/src/components/wrappers/AutoCloseWrapper.tsx
  packages/surveys/src/styles/global.css
Labels: 🙋‍♀️ to be reviewed

#2213 feat: adds response count indicator
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/actions.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/components/SurveyResultsTabs.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/data.ts
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryList.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/share/[sharingKey]/(analysis)/components/SurveyResultsTabs.tsx
  apps/web/app/share/[sharingKey]/(analysis)/responses/components/ResponsePage.tsx
  apps/web/app/share/[sharingKey]/(analysis)/summary/components/SummaryPage.tsx
  apps/web/app/share/[sharingKey]/(analysis)/summary/page.tsx
  apps/web/app/share/[sharingKey]/action.ts
  packages/lib/response/util.ts
Labels: 💬 discussion

#2144 feat: improve configurability for upload storage
  .env.example
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
  apps/web/app/storage/[environmentId]/[accessType]/[fileName]/lib/getFile.ts
  packages/lib/constants.ts
  packages/lib/env.ts
  packages/lib/product/service.ts
  packages/lib/storage/service.ts
  turbo.json
Labels: ❗️ .env changes, 💬 discussion

#2235 feat: opentelemetry integration
  .env.example
  .github/workflows/kamal.yml
  apps/formbricks-com/app/docs/self-hosting/external-auth-providers/page.mdx
  apps/formbricks-com/pages/api/oss-friends/index.ts
  apps/web/instrumentation.node.ts
  apps/web/instrumentation.ts
  apps/web/next.config.mjs
  apps/web/package.json
  kamal/deploy.yml
  packages/lib/env.ts
  pnpm-lock.yaml
  turbo.json
Labels: ❗️ .env changes, 👩‍💻 waiting for changes

#2256 fix: fix on-the-fly url trigger always triggering IMPORTANT
  packages/js/package.json
  packages/js/src/lib/noCodeActions.ts
Labels: bug

#2241 feat: redirect user to email verification page if not done
  apps/web/app/(auth)/auth/login/components/SigninForm.tsx
Labels: bug

#2314 fix: Summary view proportions don't add up to 100%
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/CTASummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/CalSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ConsentSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/MultipleChoiceSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/NPSSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/PictureChoiceSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/RatingSummary.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/lib/util.ts
Labels: bug

#2307 fix: Profile image showing incorrectly
  apps/web/app/(app)/environments/[environmentId]/components/Navigation.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/components/DeleteAccount.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/components/EditAvatar.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/profile/page.tsx
  packages/ui/Avatars/index.tsx
Labels: bug, 🕹️ oss.gg, 🕹️ 100 points

#2340 fix: displayPercentage not working for inline-triggers
  packages/js/src/lib/actions.ts
  packages/js/src/lib/noCodeActions.ts
  packages/js/src/lib/widget.ts
Labels: bug

#2329 feat: display URL in metadata
  packages/js/src/lib/widget.ts
  packages/ui/SingleResponseCard/index.tsx
Labels: enhancement, 🕹️ oss.gg, 🕹️ 100 points

#2345 fix: remove survey autofocus in iframe, improve accessibility of question components
  packages/database/migrations/20240327140901_add_more_indexes/migration.sql
  packages/surveys/src/components/buttons/SubmitButton.tsx
  packages/surveys/src/components/general/FileInput.tsx
  packages/surveys/src/components/general/QuestionConditional.tsx
  packages/surveys/src/components/general/Survey.tsx
  packages/surveys/src/components/general/ThankYouCard.tsx
  packages/surveys/src/components/general/WelcomeCard.tsx
  packages/surveys/src/components/questions/CTAQuestion.tsx
  packages/surveys/src/components/questions/CalQuestion.tsx
  packages/surveys/src/components/questions/ConsentQuestion.tsx
  packages/surveys/src/components/questions/DateQuestion.tsx
  packages/surveys/src/components/questions/FileUploadQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceMultiQuestion.tsx
  packages/surveys/src/components/questions/MultipleChoiceSingleQuestion.tsx
  packages/surveys/src/components/questions/NPSQuestion.tsx
  packages/surveys/src/components/questions/OpenTextQuestion.tsx
  packages/surveys/src/components/questions/PictureSelectionQuestion.tsx
  packages/surveys/src/components/questions/RatingQuestion.tsx
Labels: ❗️ migrations

#2348 fix: background tabs fixed
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/AnimatedSurveyBg.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/edit/components/SurveyBgSelectorTab.tsx
Labels: bug

#2347 docs: wsl2 postgres side note on local setup
  apps/formbricks-com/app/docs/contributing/setup/page.mdx
Labels: bug

#2362 fix: s3-cache
  apps/web/app/storage/[environmentId]/[accessType]/[fileName]/lib/getFile.ts
  packages/lib/storage/service.ts
  packages/ui/FileInput/index.tsx
Labels: bug

#2295 docs: 1.6 upgrade docs & mitigation steps
  apps/formbricks-com/app/docs/self-hosting/migration-guide/page.mdx
Labels: 👩‍💻 waiting for changes

#2366 fix: date format transformation causing sync error
  packages/lib/survey/service.ts
Labels: bug
