Repository formbricks/formbricks, pull requests merged in 2025-04, with the labels that each got.

#5200 chore: 20250401 Android sdk backwards compatibility
  .gitignore
  packages/android/app/src/main/java/com/formbricks/demo/MainActivity.kt
  packages/android/formbricksSDK/consumer-rules.pro
  packages/android/formbricksSDK/proguard-rules.pro
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/Formbricks.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/api/FormbricksApi.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/helper/FormbricksConfig.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/logger/Logger.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/manager/SurveyManager.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/manager/UserManager.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/model/enums/SuccessType.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/model/error/SDKError.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/webview/FormbricksFragment.kt
  packages/android/formbricksSDK/src/main/java/com/formbricks/formbrickssdk/webview/WebAppInterface.kt
  packages/android/gradle/libs.versions.toml
  packages/ios/Demo/Demo/AppDelegate.swift
  packages/ios/Formbricks.xcworkspace/xcuserdata/vaxi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/ios/FormbricksSDK/FormbricksSDK/Extension/Error+Message.swift
  packages/ios/FormbricksSDK/FormbricksSDK/Formbricks.swift
  packages/ios/FormbricksSDK/FormbricksSDK/Manager/PresentSurveyManager.swift
  packages/ios/FormbricksSDK/FormbricksSDK/Manager/SurveyManager.swift
  packages/ios/FormbricksSDK/FormbricksSDK/Manager/UserManager.swift
  packages/ios/FormbricksSDK/FormbricksSDK/Model/Error/APIError.swift
  packages/ios/FormbricksSDK/FormbricksSDK/Model/Error/SDKError.swift
  packages/ios/FormbricksSDK/FormbricksSDK/Networking/Base/APIClient.swift
  packages/ios/FormbricksSDK/FormbricksSDK/Networking/Queue/UpdateQueue.swift
  packages/ios/FormbricksSDK/FormbricksSDK/WebView/FormbricksViewModel.swift
  packages/ios/FormbricksSDK/FormbricksSDK/WebView/SurveyWebView.swift
Labels: ❗️ .env changes

#4997 chore: Refactored the Turnstile next public env variable and added test files
  .env.example
  apps/web/app/(app)/environments/[environmentId]/components/PosthogIdentify.test.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/general/page.test.tsx
  apps/web/app/sentry/SentryProvider.test.tsx
  apps/web/modules/auth/signup/components/signup-form.test.tsx
  apps/web/modules/auth/signup/components/signup-form.tsx
  apps/web/modules/auth/signup/page.test.tsx
  apps/web/modules/auth/signup/page.tsx
  apps/web/modules/setup/(fresh-instance)/signup/page.test.tsx
  apps/web/modules/setup/(fresh-instance)/signup/page.tsx
  apps/web/vite.config.mts
  docker/docker-compose.yml
  packages/lib/constants.ts
  packages/lib/env.ts
  turbo.json
Labels: ❗️ .env changes

#5252 fix: Add Cache-Control to allowed CORS headers
  apps/web/next.config.mjs
Labels: bug

#5014 chore: Refactored the Formbricks next public env variables and added test files
  .env.example
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/layout.test.tsx
  apps/web/app/(app)/(survey-editor)/environments/[environmentId]/layout.tsx
  apps/web/app/(app)/components/FormbricksClient.test.tsx
  apps/web/app/(app)/components/FormbricksClient.tsx
  apps/web/app/(app)/environments/[environmentId]/layout.test.tsx
  apps/web/app/(app)/environments/[environmentId]/layout.tsx
  apps/web/app/(app)/layout.test.tsx
  apps/web/app/(app)/layout.tsx
  apps/web/app/lib/formbricks.ts
  apps/web/app/sentry/SentryProvider.tsx
  apps/web/modules/api/v2/management/contact-attribute-keys/lib/openapi.ts
  apps/web/modules/api/v2/management/contact-attributes/lib/openapi.ts
  apps/web/modules/api/v2/management/contacts/lib/openapi.ts
  apps/web/modules/api/v2/management/lib/openapi.ts
  apps/web/modules/api/v2/management/responses/lib/openapi.ts
  apps/web/modules/api/v2/management/surveys/[surveyId]/contact-links/segments/lib/openapi.ts
  apps/web/modules/api/v2/management/surveys/lib/openapi.ts
  apps/web/modules/api/v2/management/webhooks/lib/openapi.ts
  apps/web/modules/api/v2/openapi-document.ts
  apps/web/modules/api/v2/organizations/lib/openapi.ts
  apps/web/modules/ee/contacts/api/v2/management/contacts/bulk/lib/openapi.ts
  apps/web/modules/environments/lib/utils.test.ts
  apps/web/modules/environments/lib/utils.ts
  apps/web/modules/ui/components/environmentId-base-layout/index.test.tsx
  apps/web/modules/ui/components/environmentId-base-layout/index.tsx
  apps/web/package.json
  apps/web/vite.config.mts
  docker/docker-compose.yml
  docs/api-v2-reference/openapi.yml
  packages/database/src/scripts/generate-data-migration.ts
  packages/js-core/src/lib/common/tests/command-queue.test.ts
  packages/js-core/src/lib/common/tests/config.test.ts
  packages/js-core/src/lib/common/tests/file-upload.test.ts
  packages/js-core/src/lib/common/tests/logger.test.ts
  packages/js-core/src/lib/common/tests/setup.test.ts
  packages/js-core/src/lib/common/tests/timeout-stack.test.ts
  packages/js-core/src/lib/common/tests/utils.test.ts
  packages/js-core/src/lib/survey/tests/no-code-action.test.ts
  packages/js-core/src/lib/survey/tests/store.test.ts
  packages/js-core/src/lib/user/tests/attribute.test.ts
  packages/js-core/src/lib/user/tests/state.test.ts
  packages/js-core/src/lib/user/tests/update-queue.test.ts
  packages/js-core/src/lib/user/tests/user.test.ts
  packages/lib/constants.ts
  packages/lib/env.ts
  packages/react-native/src/lib/environment/state.ts
  packages/react-native/src/lib/user/update.ts
  packages/react-native/src/types/survey.ts
  turbo.json
Labels: ❗️ .env changes

#5301 docs: updated API playground link in the webhooks docs
  docs/xm-and-surveys/core-features/integrations/webhooks.mdx
Labels: community request

#5307 docs: fixes framework guide link
  docs/xm-and-surveys/surveys/website-app-surveys/framework-guides.mdx
Labels: bug

#5320 chore: improve accessibility for matrix question
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/components/ResponseTableColumns.tsx
  packages/lib/response/service.ts
  packages/lib/response/utils.ts
Labels: customer request

#5385 fix: type issue in notion integration
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/constants.ts
  apps/web/app/api/(internal)/pipeline/lib/handleIntegrations.ts
Labels: bug

#5337 chore: Enable Sentry integration
  .env.example
  apps/web/.gitignore
  apps/web/app/error.test.tsx
  apps/web/app/error.tsx
  apps/web/app/global-error.test.tsx
  apps/web/app/global-error.tsx
  apps/web/app/layout.tsx
  apps/web/app/sentry/SentryProvider.test.tsx
  apps/web/app/sentry/SentryProvider.tsx
  apps/web/instrumentation.ts
  apps/web/modules/api/v2/lib/tests/utils.test.ts
  apps/web/modules/api/v2/lib/utils.ts
  apps/web/modules/organization/settings/api-keys/components/add-api-key-modal.tsx
  apps/web/next.config.mjs
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/tsconfig.json
  apps/web/vite.config.mts
  docker/docker-compose.yml
  docs/self-hosting/configuration/environment-variables.mdx
  packages/lib/messages/de-DE.json
  packages/lib/messages/en-US.json
  packages/lib/messages/fr-FR.json
  packages/lib/messages/pt-BR.json
  packages/lib/messages/pt-PT.json
  packages/lib/messages/zh-Hant-TW.json
  packages/lib/tsconfig.json
  pnpm-lock.yaml
Labels: ❗️ .env changes
