Repository formbricks/formbricks, pull requests merged in 2025-03, with the labels that each got.

#4838 fix: removed completed surveys from survey list in integrations
  apps/web/app/(app)/environments/[environmentId]/integrations/airtable/page.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/google-sheets/page.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/lib/surveys.ts
  apps/web/app/(app)/environments/[environmentId]/integrations/notion/page.tsx
  apps/web/app/(app)/environments/[environmentId]/integrations/slack/page.tsx
  packages/lib/survey/service.ts
  packages/lib/survey/utils.ts
Labels: enhancement

#4837 fix: logo on follow up email
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/general/page.test.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/general/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/components/SettingsCard.tsx
  apps/web/modules/ee/whitelabel/email-customization/components/email-customization-settings.test.tsx
  apps/web/modules/ee/whitelabel/email-customization/components/email-customization-settings.tsx
  apps/web/modules/email/components/email-template.test.tsx
  apps/web/modules/email/components/email-template.tsx
  apps/web/modules/email/emails/survey/follow-up.test.tsx
  apps/web/modules/email/emails/survey/follow-up.tsx
  apps/web/modules/ui/components/file-input/components/uploader.tsx
  apps/web/modules/ui/components/upgrade-prompt/index.tsx
  apps/web/package.json
  apps/web/vite.config.mts
  packages/lib/constants.ts
  packages/lib/vitestSetup.ts
  pnpm-lock.yaml
  sonar-project.properties
Labels: bug

#4864 feat: possibility to set mail from name
  .env.example
  apps/web/modules/email/index.tsx
  docker/docker-compose.yml
  docker/formbricks.sh
  docs/self-hosting/advanced/migration.mdx
  docs/self-hosting/configuration/environment-variables.mdx
  docs/self-hosting/configuration/smtp.mdx
  packages/lib/constants.ts
  packages/lib/env.ts
  turbo.json
Labels: ❗️ .env changes

#4909 fix: updated docker file with redis and minio containers
  .env.example
  .gitpod/init.bash
  apps/web/cache-handler.mjs
  docker-compose.dev.yml
  package.json
  packages/database/docker-compose.yml
  packages/database/package.json
  turbo.json
Labels: ❗️ .env changes

#4966 feat: optional cron jobs check
  .env.example
  apps/web/Dockerfile
  docker/docker-compose.yml
  docs/self-hosting/configuration/environment-variables.mdx
  docs/self-hosting/setup/cluster-setup.mdx
  helm-chart/values.yaml
  packages/lib/env.ts
  turbo.json
Labels: ❗️ .env changes

#4912 feat: add custom TTL for cache records
  .env.example
  apps/web/cache-handler.mjs
  docker-compose.dev.yml
  docker/docker-compose.yml
  docs/self-hosting/setup/cluster-setup.mdx
  packages/lib/constants.ts
  packages/lib/env.ts
  turbo.json
Labels: ❗️ .env changes

#4992 fix(helm-chart): missing envFrom when using secret.enabled
  helm-chart/templates/deployment.yaml
Labels: bug

#4960 chore: Refactored the intercom next public env variable and added test files
  .env.example
  apps/web/app/(app)/environments/[environmentId]/settings/(organization)/general/page.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/components/SettingsCard.tsx
  apps/web/app/(app)/layout.test.tsx
  apps/web/app/(app)/layout.tsx
  apps/web/app/(auth)/layout.test.tsx
  apps/web/app/(auth)/layout.tsx
  apps/web/app/intercom/IntercomClient.test.tsx
  apps/web/app/intercom/IntercomClient.tsx
  apps/web/app/intercom/IntercomClientWrapper.test.tsx
  apps/web/app/intercom/IntercomClientWrapper.tsx
  apps/web/modules/api/v2/management/lib/tests/utils.test.ts
  apps/web/modules/ee/contacts/components/contact-data-view.tsx
  apps/web/modules/ee/contacts/components/contacts-table.tsx
  apps/web/modules/ee/contacts/components/csv-table.tsx
  apps/web/modules/ee/two-factor-auth/components/disable-two-factor-modal.tsx
  apps/web/modules/ee/two-factor-auth/components/enable-two-factor-modal.tsx
  apps/web/modules/ee/two-factor-auth/components/two-factor-backup.tsx
  apps/web/modules/ee/two-factor-auth/components/two-factor.tsx
  apps/web/modules/ee/whitelabel/email-customization/components/email-customization-settings.test.tsx
  apps/web/modules/email/components/email-template.test.tsx
  apps/web/modules/email/emails/survey/follow-up.test.tsx
  apps/web/modules/organization/settings/teams/components/edit-memberships/member-actions.tsx
  apps/web/modules/projects/settings/general/components/delete-project-render.tsx
  apps/web/modules/setup/organization/[organizationId]/invite/components/invite-members.tsx
  apps/web/modules/setup/organization/create/components/removed-from-organization.tsx
  apps/web/modules/survey/components/question-form-input/components/multi-lang-wrapper.tsx
  apps/web/modules/ui/components/upgrade-prompt/index.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.mts
  packages/lib/constants.ts
  packages/lib/env.ts
  packages/lib/vitestSetup.ts
  turbo.json
Labels: ❗️ .env changes

#5043 fix: invite user bug
  apps/web/modules/ee/role-management/components/add-member-role.tsx
  apps/web/modules/ee/role-management/components/edit-membership-role.tsx
  apps/web/modules/organization/settings/teams/components/invite-member/individual-invite-tab.tsx
  packages/logger/package.json
Labels: bug

#4979 chore: Refactored the Sentry next public env variable and added test files
  apps/web/Dockerfile
  apps/web/app/layout.test.tsx
  apps/web/app/layout.tsx
  apps/web/app/sentry/SentryProvider.test.tsx
  apps/web/app/sentry/SentryProvider.tsx
  apps/web/instrumentation.ts
  apps/web/next.config.mjs
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/vite.config.mts
  packages/lib/constants.ts
  packages/lib/env.ts
  packages/react-native/src/lib/survey/action.ts
  sonar-project.properties
  turbo.json
Labels: ❗️ .env changes

#4989 feat: adds second domain
  .env.example
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/responses/page.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/ShareEmbedSurvey.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/SurveyAnalysisCTA.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedModal/EmbedView.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/shareEmbedModal/LinkTab.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/components/tests/SurveyAnalysisCTA.test.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/lib/emailTemplate.tsx
  apps/web/app/(app)/environments/[environmentId]/surveys/[surveyId]/(analysis)/summary/page.tsx
  apps/web/app/api/(internal)/csv-conversion/route.ts
  apps/web/app/api/(internal)/excel-conversion/route.ts
  apps/web/app/api/v1/management/surveys/[surveyId]/singleUseIds/route.ts
  apps/web/app/lib/fetchFile.ts
  apps/web/middleware.ts
  apps/web/modules/analysis/components/ShareSurveyLink/index.tsx
  apps/web/modules/ee/contacts/lib/contact-survey-link.test.ts
  apps/web/modules/ee/contacts/lib/contact-survey-link.ts
  apps/web/modules/email/index.tsx
  apps/web/modules/survey/link/components/link-survey-wrapper.tsx
  apps/web/modules/survey/link/components/link-survey.tsx
  apps/web/modules/survey/link/components/pin-screen.tsx
  apps/web/modules/survey/link/components/survey-renderer.tsx
  apps/web/modules/survey/link/lib/metadata-utils.test.ts
  apps/web/modules/survey/link/lib/metadata-utils.ts
  apps/web/modules/survey/list/components/survey-card.tsx
  apps/web/modules/survey/list/components/survey-dropdown-menu.tsx
  apps/web/modules/survey/list/components/survey-list.tsx
  apps/web/modules/survey/list/components/tests/survey-dropdown-menu.test.tsx
  apps/web/modules/survey/list/page.tsx
  docker/docker-compose.yml
  docs/mint.json
  docs/self-hosting/configuration/domain-configuration.mdx
  docs/self-hosting/configuration/environment-variables.mdx
  packages/lib/constants.ts
  packages/lib/env.ts
  packages/lib/getSurveyUrl.ts
  turbo.json
Labels: ❗️ .env changes
