Repository formbricks/formbricks, pull requests merged in 2025-05, with the labels that each got.

#5595 feat: added option 6 to rating
  apps/web/locales/de-DE.json
  apps/web/locales/en-US.json
  apps/web/locales/fr-FR.json
  apps/web/locales/pt-BR.json
  apps/web/locales/pt-PT.json
  apps/web/locales/zh-Hant-TW.json
  apps/web/modules/analysis/components/RatingSmiley/index.tsx
  apps/web/modules/survey/editor/components/rating-question-form.tsx
  packages/surveys/src/components/questions/rating-question.tsx
  packages/types/surveys/types.ts
Labels: community request

#5668 chore: move js sdk and demo app to its own repository
  .env.example
  apps/demo/.env.example
  apps/demo/.eslintrc.js
  apps/demo/.gitignore
  apps/demo/components/layout-app.tsx
  apps/demo/components/sidebar.tsx
  apps/demo/globals.css
  apps/demo/lib/utils.ts
  apps/demo/next-env.d.ts
  apps/demo/next.config.mjs
  apps/demo/package.json
  apps/demo/pages/_app.tsx
  apps/demo/pages/_document.tsx
  apps/demo/pages/index.tsx
  apps/demo/postcss.config.js
  apps/demo/public/favicon.ico
  apps/demo/public/fb-setup.png
  apps/demo/public/next.svg
  apps/demo/public/thirteen.svg
  apps/demo/public/vercel.svg
  apps/demo/tsconfig.json
  apps/web/app/(app)/(onboarding)/organizations/[organizationId]/landing/components/landing-sidebar.tsx
  apps/web/app/(app)/components/FormbricksClient.test.tsx
  apps/web/app/(app)/components/FormbricksClient.tsx
  apps/web/app/(app)/environments/[environmentId]/components/MainNavigation.tsx
  apps/web/app/(app)/environments/[environmentId]/layout.test.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/DeleteAccount.tsx
  apps/web/app/(app)/layout.test.tsx
  apps/web/app/(app)/layout.tsx
  apps/web/app/lib/formbricks.ts
  apps/web/lib/constants.ts
  apps/web/lib/env.ts
  apps/web/modules/account/components/DeleteAccountModal/index.test.tsx
  apps/web/modules/account/components/DeleteAccountModal/index.tsx
  apps/web/modules/setup/organization/create/components/removed-from-organization.tsx
  apps/web/modules/survey/components/question-form-input/index.test.tsx
  apps/web/modules/survey/editor/components/create-new-action-tab.test.tsx
  apps/web/modules/ui/components/client-logout/index.tsx
  apps/web/modules/ui/components/environmentId-base-layout/index.test.tsx
  apps/web/modules/ui/components/environmentId-base-layout/index.tsx
  apps/web/package.json
  apps/web/vite.config.mts
  docker/docker-compose.yml
  package.json
  packages/js/.eslintrc.cjs
  packages/js/.gitignore
  packages/js/LICENSE
  packages/js/README.md
  packages/js/package.json
  packages/js/src/index.ts
  packages/js/src/lib/load-formbricks.ts
  packages/js/src/vite-env.d.ts
  packages/js/tsconfig.json
  packages/js/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: ❗️ .env changes

#5538 fix: sonar security hotspots (https, --ignore-scripts, api_key, math.random)
  apps/web/Dockerfile
  apps/web/lib/constants.ts
  apps/web/lib/survey/tests/__mock__/survey.mock.ts
  apps/web/lib/telemetry.ts
  apps/web/modules/survey/editor/components/open-question-form.tsx
  packages/js-core/src/lib/common/tests/utils.test.ts
  packages/js-core/src/lib/common/utils.ts
  packages/surveys/src/lib/utils.ts
Labels: ❗️ .env changes

#5841 fix: tweaks in open text question
  packages/surveys/src/components/questions/open-text-question.tsx
Labels: bug

#5837 feat: added email change feature
  .env.example
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/actions.ts
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EditProfileDetailsForm.test.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/EditProfileDetailsForm.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/password-confirmation-modal.test.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/components/password-confirmation-modal.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/lib/user.test.ts
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/lib/user.ts
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/page.test.tsx
  apps/web/app/(app)/environments/[environmentId]/settings/(account)/profile/page.tsx
  apps/web/app/(auth)/email-change-without-verification-success/page.test.tsx
  apps/web/app/(auth)/email-change-without-verification-success/page.tsx
  apps/web/app/(auth)/verify-email-change/page.tsx
  apps/web/lib/jwt.test.ts
  apps/web/lib/jwt.ts
  apps/web/lib/utils/action-client.ts
  apps/web/locales/de-DE.json
  apps/web/locales/en-US.json
  apps/web/locales/fr-FR.json
  apps/web/locales/pt-BR.json
  apps/web/locales/pt-PT.json
  apps/web/locales/zh-Hant-TW.json
  apps/web/modules/auth/email-change-without-verification-success/page.test.tsx
  apps/web/modules/auth/email-change-without-verification-success/page.tsx
  apps/web/modules/auth/signup-without-verification-success/page.tsx
  apps/web/modules/auth/verify-email-change/actions.ts
  apps/web/modules/auth/verify-email-change/components/email-change-sign-in.test.tsx
  apps/web/modules/auth/verify-email-change/components/email-change-sign-in.tsx
  apps/web/modules/auth/verify-email-change/page.test.tsx
  apps/web/modules/auth/verify-email-change/page.tsx
  apps/web/modules/email/emails/auth/new-email-verification.tsx
  apps/web/modules/email/index.tsx
  docker/docker-compose.yml
  packages/types/errors.ts
Labels: community request

#5828 fix: alignment issue in file upload
  packages/surveys/src/components/general/file-input.tsx
Labels: bug
